.section {
  padding: 50px 0;
}

.section__title {
  position: relative;
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
}

.section__title::after {
  content: "";
  position: absolute;

  top: 55px;
  left: calc(50% - 188px);

  width: 366px;
  height: 1px;

  background-color: #19b5fe;
}