/*------Global Styles------*/
body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: Cuprum, Arial, sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"] .visually-hidden,
input[type="radio"] .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn {
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    background-color: #ee3643;
    border-radius: 2px;
}

/*------Fonts------*/
@font-face {
    font-family: 'Cuprum';
    src: url("../fonts/cuprum.woff") format("woff"),
    url("../fonts/cuprum.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cuprum';
    src: url("../fonts/cuprumbold.woff") format("woff"),
    url("../fonts/cuprumbold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cuprum';
    src: url("../fonts/cuprumitalic.woff") format("woff"),
    url("../fonts/cuprumitalic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cuprum';
    src: url("../fonts/cuprumbolditalic.woff") format("woff"),
    url("../fonts/cuprumbolditalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url("../fonts/ptsans.woff") format("woff"),
    url("../fonts/ptsans.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url("../fonts/ptsans.woff") format("woff"),
    url("../fonts/ptsans.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

/*------Header------*/
/*--Header-Top--*/
.header-top__wrapper {
    background-color: #293449;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.main-logo {
    display: inline-block;
    padding: 9px 55px;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    background-color: #ee3643;
    box-shadow: 0 5px 0 #8e1e26;
}

.main-logo:hover,
.main-logo:focus {
    background-color: #ca2c37;
}

.main-logo:active {
    background-color: #ba2732;
}

.header-top__search {
    width: 270px;
    position: relative;
}

.main-search__input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 17px;
    line-height: 18px;
    color: #fff;
    padding: 12px 0 12px 49px;
}

.main-search__input::placeholder {
    color: #fff;
}

.main-search__label {
    position: absolute;
    top: 12px;
    left: 17px;
    width: 17px;
    height: 17px;
    z-index: 2;
    background: url("../image/svg/icon-search.svg") no-repeat;
    cursor: pointer;
    opacity: 0.3;
}

.main-search__input:hover,
.main-search__input:hover + .main-search__label {
    background-color: #212a3a;
    opacity: 1;
}

.main-search__input:focus {
    background-color: #fff;
    color: #000;
}

.main-search__input:focus + .main-search__label {
    background: url("../image/svg/icon-search-red.svg") no-repeat;
    opacity: 1;
}

.top-menu {
    display: flex;
    justify-content: space-between;
}

.top-menu__link {
    position: relative;
    width: 150px;
    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 17px;
    line-height: 18px;
    color: #fff;
}

.top-menu__link--bookmark {
    padding-left: 44px;
}

.top-menu__link--cart {
    padding-left: 50px;
}

.top-menu__link--bookmark:hover,
.top-menu__link--bookmark:focus,
.top-menu__link--cart:hover,
.top-menu__link--cart:focus {
    background-color: #212a3a;
}

.top-menu__link--bookmark:active,
.top-menu__link--cart:active {
    background-color: #161d29;
    opacity: 0.6;
}

.top-menu__link--bookmark::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 16px;
    top: 12px;
    left: 17px;
    background: url("../image/svg/icon-bookmark.svg") no-repeat;
    opacity: 0.3;
}

.top-menu__link--cart::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 12px;
    left: 18px;
    background: url("../image/svg/icon-cart.svg") no-repeat;
    opacity: 0.3;
}

.top-menu__link--bookmark:hover:before,
.top-menu__link--bookmark:focus:before,
.top-menu__link--cart:hover:before,
.top-menu__link--cart:focus:before {
    opacity: 1;
}

.top-menu__link--bookmark:active:before,
.top-menu__link--cart:active:before {
    opacity: 0.5;
}

.top-menu__link--order {
    padding-left: 20px;
    background-color: #63a63e;
}

.top-menu__link--order:hover,
.top-menu__link--order:focus {
    background-color: #5fbb2d;
}

.top-menu__link--order:active {
    opacity: 0.51;
    background-color: #518534;
}

/*------Header-Middle------*/
.header-middle__wrapper {
    background-color: #f3f7f8;
}

.header-middle {
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
}

.header-middle__info,
.header-middle__contacts,
.user-menu {
    box-sizing: border-box;
    width: 300px;
}

.header-middle__info {
    margin: 0;
    padding-left: 53px;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ee3643;
}

.contacts__phone {
    position: relative;
    display: inline-block;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
    border: 3px solid #fff;
    padding: 9px 49px 9px 71px;
    color: #ee3643;
}

.contacts__phone::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    top: 10px;
    left: 12px;
    background: url("../image/svg/icon-phone.svg") no-repeat;
}

.contacts__address {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    padding-left: 10px;
}

.user-menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.user-menu__link {
    position: relative;
    font-size: 21px;
    line-height: 21px;
    color: #000;
    background-color: #fff;
}

.user-menu__link--registration {
    margin-left: 10px;
    padding: 12px 25px;
}

.user-menu__link--login {
    padding: 12px 27px 12px 48px;
}

.user-menu__link--login::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 17px;
    top: 14px;
    left: 14px;
    background: url("../image/svg/icon-login.svg") no-repeat;
    opacity: 0.3;
}

.user-menu__link--login:hover:before {
    opacity: 1;
}

.user-menu__link:hover,
.user-menu__link:focus {
    color: #ee3643;
}

.user-menu__link:active span,
.user-menu__link--login:active:before {
    opacity: 0.3;
    color: #000;
}

/*----Header-Bottom----*/
.header-bottom__wrapper {
    background-color: #f4f7f9;
    padding-top: 40px;
    padding-bottom: 60px;
}

.main-menu {
    display: flex;
    justify-content: space-around;
    font-family: Cuprum, Arial, sans-serif;
    background-color: #32425c;
    box-shadow: 0 5px 0 0 #293449;
}

.main-menu__link {
    display: block;
    padding: 19px 33px;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
}

.main-menu__link:hover,
.main-menu__link:focus {
    background-color: #293449;
}

.main-menu__link:active span {
    opacity: 0.5;
}

/*--------Header INNER PAGE ---------*/
.inner-page .top-menu__link--cart {
    background-color: #ee3643;
}

.inner-page .user-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.inner-page .log {
    position: relative;
    width: 100%;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: #000;
    background-color: #fff;
    padding: 12px 0 12px 48px;
}

.log::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 18px;
    top: 13px;
    left: 14px;
    background: url("../image/svg/icon-login.svg") no-repeat;
    opacity: 0.6;
}

.log::after {
    content: "";
    position: absolute;
    width: 21px;
    height: 17px;
    top: 14px;
    right: 10px;
    background: url("../image/svg/icon-logout.svg") no-repeat;
    opacity: 0.6;
}

.log:hover:before,
.log:hover:after,
.log:focus:before,
.log:focus:after {
    opacity: 1;
}

.log:active span,
.log:active:before,
.log:active:after {
    opacity: 0.6;
}

.user-menu_my-bookmark,
.user-menu_my-cab {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
    cursor: pointer;
}

.user-menu_my-bookmark {
    padding-left: 18px;
}

.user-menu_my-cab {
    position: relative;
    padding-left: 32px;
}

.user-menu_my-cab::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    top: 7px;
    left: 15px;
    background: url("../image/circle.png") no-repeat;
}

.user-menu_my-bookmark:hover,
.user-menu_my-cab:hover,
.user-menu_my-bookmark:focus,
.user-menu_my-cab:focus {
    color: #ee3643;
}

.user-menu_my-bookmark:active,
.user-menu_my-cab:active {
    opacity: 0.3;
}

/*------------------------------Main-------------------------------*/
/*-------------Section-Slider--------------------*/
.slider-box {
    margin-top: 60px;
    margin-bottom: 52px;
}

.slider-items {
    display: flex;
    justify-content: space-between;
}


.slider {
    position: relative;
    display: inline-block;
    width: 620px;
    height: 266px;
    margin: 0 auto
}

.slider input[type=radio] {
    position: absolute;
    opacity: 0
}

.slider-controls {
    position: absolute;
    z-index: 2;
    bottom: 14%;
    left: 45%;
    width: 60px;
    height: 10px;
    text-align: center
}

.slider-controls label {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    vertical-align: top;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer
}

.slider .arrow-left::before {
    content: "";
    position: absolute;
    z-index: 3;
    left: 22px;
    top: 123px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: block;
    width: 28px;
    height: 4px;
    background: #fff;
    cursor: pointer
}

.slider .arrow-left::after,
.slider .arrow-right::after,
.slider .arrow-right::before {
    content: "";
    position: absolute;
    z-index: 3;
    top: 140px;
    display: block;
    width: 28px;
    height: 4px;
    background: #fff;
    cursor: pointer
}

.slider .arrow-left::after {
    left: 22px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.slider .arrow-right::after,
.slider .arrow-right::before {
    right: 17px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.slider .arrow-right::after {
    top: 123px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

#btn-1:checked ~ .slider-controls label[for=btn-1],
#btn-2:checked ~ .slider-controls label[for=btn-2] {
    background: #ee3643
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.slide-text {
    margin-left: 24px;
    padding-top: 26px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cuprum", "Arial", sans-serif;
    color: #fff;
    background: 0 0
}

.slide .btn,
.slide-title {
    font-style: normal;
    font-family: "Cuprum", "Arial", sans-serif;
    text-transform: uppercase;
    color: #fff
}

.slide-title {
    margin-bottom: 4px;
    margin-top: 0;
    background: 0 0;
    font-size: 36px;
    line-height: 30px;
    font-weight: 700;
}

.slide .btn {
    display: block;
    width: 195px;
    padding: 10px 0;
    margin-top: 122px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    background: #ee3643;
    border-radius: 3px
}

.slide .btn:hover {
    background-color: #ca2c37;
}

.slide .btn:active {
    background-color: #ba2732;
}

.slide:nth-child(1),
.slide:nth-child(2) {
    background-image: url(../image/slider_2.png);
    background-repeat: no-repeat
}

.slide:nth-child(2) {
    background-image: url(../image/slider_1.png)
}

.slide {
    display: none
}

#btn-1:checked ~ .slides .slide:nth-child(1),
#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block
}

/*--------------------------Section Items------------------------------*/
.items-top {
    display: flex;
    flex-wrap: wrap;
}

.item {
    box-sizing: border-box;
    position: relative;
    width: 300px;
    height: 123px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.item:nth-child(3) {
    margin-right: 0;
}

.item_sales,
.item_delivery {
    margin-right: 0;
    margin-left: 20px;
}

.item-title {
    position: absolute;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
    left: 25px;
    top: 24px;
}

.item-button {
    display: inline-block;
    box-sizing: border-box;
    width: 135px;
    height: 38px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 3px;
    text-align: center;
    padding-top: 11px;
    position: absolute;
    top: 63px;
    left: 25px;
}

.item-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.item-button:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.item_mat::before {
    content: "";
    position: absolute;
    top: 31px;
    left: 213px;
    width: 44px;
    height: 65px;
    background: url(../image/icon-1.png) no-repeat;
}

.item_tools::before {
    content: "";
    position: absolute;
    top: 33px;
    left: 197px;
    width: 75px;
    height: 62px;
    background: url(../image/icon-2.png) no-repeat;
}

.item_technic::before {
    content: "";
    position: absolute;
    top: 31px;
    left: 191px;
    width: 78px;
    height: 62px;
    background: url(../image/icon-3.png) no-repeat;
}

.item_sales::before {
    content: "";
    position: absolute;
    top: 26px;
    left: 196px;
    width: 59px;
    height: 72px;
    background: url("../image/icon-4.png") no-repeat;
}

.item_delivery::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 191px;
    width: 78px;
    height: 63px;
    background: url("../image/icon-5.png") no-repeat;
}

.item_mat {
    background-color: #ffbf47;
}

.item_tools {
    background-color: #3bbce3;
}

.item_technic {
    background-color: #dc91d8;
}

.item_sales {
    background-color: #8ed78f;
}

.item_delivery {
    background-color: #ffc047;
}

.flag {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 4;
}

.flag-new {
    background: url("../image/new flag.png") no-repeat 0 0;
    z-index: 4;
}

/*-------------Section Popular Goods-------------*/
.popular_button {
    margin-top: 25px;
    margin-right: 24px;
    margin-bottom: 26px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    background-color: #ee3643;
    border-radius: 3px;
    padding: 11px 55px 11px 55px;
}

.catalog-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-item {
    position: relative;
    display: inline-block;
    width: 218px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
}

.catalog-items {
    font-size: 0;
}

.catalog-item {
    font-size: 16px;
}

.main-page .catalog-item:first-child {
    margin-left: 0;
}

.catalog-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 3;
}

.catalog-item .flag-new {
    background: url("../image/new flag.png") no-repeat 0 0;
    z-index: 3;
}

.catalog-item .actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
    display: block;
    width: 129px;
    margin: 0 auto 7px;
    padding: 7px 0;
    border: 3px solid #63a63e;
    border-bottom-color: #367315;
    background-color: #63a63e;
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
}

.catalog-item .actions .bookmark {
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
}

.catalog-item .actions {
    display: none;
}

.catalog-item:hover .actions {
    display: block;
}

.catalog-item:hover {
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item .buy:hover {
    background-color: #5fbb2d;
    border-color: transparent;
    border-bottom: 3px solid #367315;
}

.catalog-item .buy:hover:before {
    opacity: 1;
}

.catalog-item .buy:active {
    background-color: #518534;
    border-color: #518534;
}

.catalog-item .bookmark:hover {
    border-color: #32425c;
}

.catalog-item .bookmark:active {
    opacity: 0.3;
}

.catalog-item .image {
    width: 218px;
    height: 168px;
}

.catalog-item .image img {
    margin-top: 29px;
    max-width: 100%;
}

.catalog-item .title {
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.catalog-item .discount {
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #999;
    text-decoration: line-through;
}

.catalog-item .price {
    position: relative;
    width: 80px;
    margin: 10px auto 20px;
    padding: 10px 30px;
    color: white;
    background: #ee3643;
    border-radius: 3px;
}

.catalog-item .price:after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border: 20px solid white;
    border-left-color: #ee3643;
}

/*-----------Section Brands--------------*/
.popular-goods-header,
.brands-header {
    display: flex;
    justify-content: space-between;
    background-color: #f9f5f0;
    margin-top: 21px;
    margin-bottom: 20px;
}

.popular-goods_title,
.brands_title {
    padding: 30px 0 30px 30px;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.btn-brands {
    display: inline-block;
    padding: 10px 55px;
    margin-top: 25px;
    margin-right: 24px;
    margin-bottom: 26px;
}

.popular_button:hover,
.brands_button:hover {
    background-color: #ca2c37;
}

.popular_button:active,
.brands_button:active {
    background-color: #ba2732;
}

.brands-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 65px;
}

.brands-items {
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    width: 220px;
    height: 145px;
    margin-bottom: 20px;
}

.brands-items:hover {
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-items:active {
    box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
    opacity: 0.3;
}

.brand-bosch {
    background: url("../image/bosch.png") no-repeat center center;
}

.brand-makita {
    background: url("../image/Makita.png") no-repeat center center;
}

.brand-deWalt {
    background: url("../image/DeWALT.png") no-repeat center center;
}

.brand-interskol {
    background: url("../image/Интерскол.png") no-repeat center center;
}

.brand-hitachi {
    background: url("../image/Hitachi.png") no-repeat center center;
}

.brand-lg {
    background: url("../image/LG.png") no-repeat center center;
}

.brand-arg {
    background: url("../image/AEG.png") no-repeat center center;
}

.brand-metab {
    background: url("../image/Metabo.png") no-repeat center center;
}

/*---------Section Services ---------/*/
.services__wrapper {
    background-color: #f4f7f9;
}

.services {
    padding-top: 62px;
}

.services-header {
    width: 400px;
}

.services-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
}

.services-text {
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 65px;
}

.services-blocks {
    display: flex;
    justify-content: space-between;
}

.services-blocks {
    position: relative;
}

.services-block::after {
    content: "";
    position: absolute;
    top: -49px;
    left: 230px;
    width: 10px;
    height: 279px;
    background: url("../image/border-shadow.png") no-repeat;
    z-index: 3;
}

.services-toggle {
    position: absolute;
    left: 0;
    bottom: 98%;
    width: 60px;
    height: 10px;
    z-index: 2;
}

.services-toggle label {
    box-sizing: border-box;
    display: block;
    width: 240px;
    padding: 15px 22px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
    background-color: #32425c;
    outline: none;
    cursor: pointer;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
}

#services_button-1:checked ~ .services-toggle label[for=services_button-1],
#services_button-2:checked ~ .services-toggle label[for=services_button-2],
#services_button-3:checked ~ .services-toggle label[for=services_button-3] {
    color: #32425c;
    background: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    outline: none
}

.services-block-right {
    width: 620px;
    height: 285px;
}

.service-touch-button span {
    display: inline-block;
    font-size: 36px;
    line-height: 24px;
    text-transform: uppercase;
    color: #32425c;
    margin-bottom: 28px;
}

.additional-text {
    width: 380px;
    font-size: 13px;
    line-height: 24px;
}

.btn-send-request {
    padding: 10px 44px;
    margin-top: 15px;
}

.delivery {
    background-image: url("../image/delivery.png");
    background-repeat: no-repeat;
    background-position: 145px 0;
}

.guarantee {
    background-image: url(../image/gurantee.png);
    background-repeat: no-repeat;
    background-position: 220px 0;
}

.credit {
    background-image: url(../image/credit.png);
    background-repeat: no-repeat;
    background-position: 150px 0;
}

.service-touch-button {
    display: none;
    max-height: 280px;
}


#services_button-1:checked ~ .services-block-right .delivery,
#services_button-2:checked ~ .services-block-right .guarantee,
#services_button-3:checked ~ .services-block-right .credit {
    display: block;
}


/*-----Section Information -------*/
.information {
    display: flex;
    justify-content: space-between;
    padding-bottom: 86px;
}

.info {
    width: 540px;
}

.contacts {
    width: 300px;
}

.info-title,
.contacts-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    padding-top: 70px;
    padding-bottom: 20px;
}

.information p {
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 24px;
}


.info-service__item {
    position: relative;
    padding-left: 36px;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
}

.info-service__item::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #ee3643;
    top: 8px;
    left: 0;
}

.btn:hover,
.btn:focus {
    background-color: #ca2c37;
}

.btn:active {
    background-color: #ba2732;
}

.btn--about-company {
    padding: 10px 40px;
}

.btn--write-us {
    padding: 10px 59px 10px 64px;
    margin-top: 25px;
}

/*--------------------------INNER-PAGE---------------------*/
/*------------Bread-Crumbs---------*/
.crumbs {
    padding: 0;
    margin: 22px 0;
    display: flex;
}

.crumb-item a {
    position: relative;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 0 18px 0 24px;
    color: #000;
}

.crumb-item:first-child {
    padding-left: 30px;
}

.crumb-item a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    width: 7px;
    height: 12px;
    background: url("../image/svg/icon-right-small.svg") no-repeat;
}

.item-home a::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 12px;
    top: 1px;
    left: -30px;
    background: url("../image/svg/icon-home.svg") no-repeat;
}


.inner-page-title {
    background-color: #f2f6f8;
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 30px 0 30px 30px;
    margin-bottom: 20px;
}

/*-------------Catalog-Columns----------*/
.inner-page__catalog-columns {
    display: flex;
    justify-content: space-between;
}

/*-----------Filters-----*/
.filters {
    width: 220px;
}

.filter-header {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0 10px 18px;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000;
    background-color: #f7f3ec;
    border-radius: 2px;
    margin-bottom: 12px;
}

form {
    width: 100%;
    font-family: 'PT Sans', Arial, sans-serif;
}

fieldset {
    padding: 0 0 4px 0;
    margin: 0;
    border: none;
    border-bottom: 1px solid #e5e5e5;
}

.no-border {
    border: none;
}

legend {
    display: block;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 12px 0;
}

/*----------------------------------------------------*/

/*-----Range Filter ---------*/
.range-filter {
    width: 100%;
    margin-bottom: 25px;
}

.range-controls {
    position: relative;
    margin-bottom: 9px;
    width: 170px;
    height: 41px;
    padding: 39px 20px 0 30px;
    background-color: #f7f3ec;
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;
    background-color: #d7dcde;
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background-color: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    width: 4px;
    height: 4px;
    top: 30px;
    background-color: #ababab;
    border: 8px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 20px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 0;
}

.price-controls::before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 1px;
    top: 19px;
    left: 105px;
    background-color: #444444;
}

.price-controls input {
    width: 60px;
    padding: 10px 17px 10px 18px;
    text-align: center;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    border: none;
    background-color: #f7f3ec;
    border-radius: 2px;
}

/*-----------------------------------------------------------*/
.filter-option {
    margin-bottom: 17px;
    padding-left: 35px;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
}

.filter-option input {
	display: none;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -2px;
    width: 23px;
    height: 23px;
    background: url("../image/svg/checkbox-off.svg") no-repeat;
}

.filter-input-checkbox + label:hover:before,
.filter-input-checkbox + label:hover:focus {
    background: url("../image/svg/checkbox-off-hover.svg") no-repeat;
}

.filter-input-checkbox:checked + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -2px;
    width: 27px;
    height: 23px;
    background: url("../image/svg/checkbox-on.svg") no-repeat;
}

.filter-input-checkbox:checked + label:hover:before,
.filter-input-checkbox:checked + label:focus:before {
    background: url("../image/svg/checkbox-on-hover.svg") no-repeat;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -3px;
    width: 25px;
    height: 25px;
    background: url("../image/svg/radio-off.svg") no-repeat;
}

.filter-input-radio + label:hover:before,
.filter-input-radio + label:hover:focus {
    background: url("../image/svg/radio-off-hover.svg") no-repeat;
}

.filter-input-radio:checked + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -3px;
    width: 25px;
    height: 25px;
    background: url("../image/svg/radio-on.svg") no-repeat;
}

.filter-input-radio:checked + label:hover:before,
.filter-input-radio:checked + label:hover:focus {
    background: url("../image/svg/radio-on-hover.svg") no-repeat;
}

.filter-input:disabled + label {
    opacity: 0.4;
}

.filter-input:disabled + label::before {
    opacity: 0.3;
}

.filter-button {
    padding: 9px 38px 9px 38px;
    margin-top: 55px;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}

/*-------------------CATALOG----------------------*/
.catalog {
    width: 700px;
}

.catalog-list {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px 17px 10px 19px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #f7f3ec;
    border-radius: 3px;
}

.catalog-header__title {
    align-self: flex-start;
}


.filter-options {
    display: flex;
    justify-content: space-between;
    margin-right: 46px;
    width: 490px;
}

.filter-item:first-child {
    margin-left: 130px;
}

.filter-link {
    opacity: 0.3;

}

.filter-link {
    border-bottom: 1px dotted #ee3643;
}

.active-filter {
    color: #ee3643;
    border: none;
    opacity: 1;
}

.filter-link:hover {
    color: #000;
    opacity: 1;
}

.filter-link:hover {
    border-bottom: 1px solid #ee3643;
}

.button-block {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 43px;
    height: 18px;
}

.filter-up::before {
    content: "";
    display: block;
    position: relative;
    width: 11px;
    height: 10px;
    top: 4px;
    left: 0;
    background: url("../image/svg/icon-up-dir.svg") no-repeat;
    cursor: pointer;
    opacity: 0.6;
}

.filter-down::before {
    content: "";
    display: block;
    position: relative;
    width: 11px;
    height: 10px;
    top: 4px;
    right: -11px;
    background: url("../image/svg/icon-down-dir.svg") no-repeat;
    cursor: pointer;
    opacity: 0.6;
}

.filter-down:hover:before,
.filter-down:focus:before,
.filter-up:hover:before,
.filter-up:focus:before {
    opacity: 1;
}

/*----------Pagination-list-----------*/

.pagination-list {
    display: flex;
    margin: 30px auto 60px -10px;
    padding: 0;
}

.pagination-link {
    box-sizing: border-box;
    display: block;
    border-radius: 2px;
    width: 38px;
    height: 38px;
    border: 1px solid #e5e5e5;
    text-align: center;
    font-family: Cuprum, Arial sans-serif;
    font-size: 13px;
    line-height: 18px;
    padding-top: 10px;
    color: #000;
    text-transform: uppercase;
    margin-left: 10px;
}

.active {
    color: #fff;
    background-color: #ee3643;
    border: none;
}

.pagination-list .active:hover {
    border: none;
}

.next {
    width: 140px;
}

.pagination-link:hover {
    border: 1px solid #bdc6ca;
}

.pagination-link:active {
    border: 1px solid #ee3643;
}

/*------------------------------------------*/

/*-------------Description----------*/
.descriptions {
    background-color: #f2f6f8;
}

.desc_title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
    padding: 65px 0 0 0;
    margin: 0;
}

.desc_text {
    font-size: 14px;
    line-height: 24px;
    margin: 20px 0 0 0;
    padding-bottom: 60px;
}

/*--------------------------------------------------*/

/*-----------Footer-------*/
/*----Up Footer------*/
.up-footer__wrapper {
    background-color: #32425c;
}

.up-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 53px;
}

.footer-logo {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    padding: 16px 41px;
    background-color: #ee3643;
    box-shadow: 0 5px 0 #8e1e26;
    margin-bottom: 28px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 550px;
    margin-top: 39px;
}

.footer__link,
.sub-menu__link {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.footer__link {
    color: #f3f7f9;
}

.sub-menu__link {
    color: #ffd180;
}

.footer__link:hover,
.footer__link:focus,
.sub-menu__link:hover,
.sub-menu__link:focus {
    text-decoration: underline;
}

.footer__link:active,
.sub-menu__link:active {
    text-decoration: none;
    opacity: 0.5;
}

.footer__address {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #f1f5f7;
}

.footer-sub-menu {
    width: 525px;
    display: flex;
    justify-content: space-between;
}

/*--------Down Footer ----*/
.down-footer__wrapper {
    background-color: #293449;
    padding-top: 35px;
    padding-bottom: 31px;
}

.down-footer {
    display: flex;
    justify-content: space-between;
}

.footer__copy {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.footer__social {
    display: flex;
    justify-content: space-between;
}

.social__icon {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #212a3a;
}

.social__icon--vk::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 15px;
    top: 13px;
    left: 7px;
    background: url("../image/svg/icon-vk.svg") no-repeat;
}

.social__icon--fb::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 22px;
    top: 9px;
    left: 14px;
    background: url("../image/svg/icon-fb.svg") no-repeat;
}

.social__icon--ins::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    top: 9px;
    left: 10px;
    background: url("../image/svg/icon-insta.svg") no-repeat;
}

.social__icon:hover,
.social__icon:focus,
.social__icon:active {
    background-color: #ee3643;
}

.footer__info {
    display: flex;
    justify-content: space-between;
}

.feedback,
.develop {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
}

.feedback a,
.develop a {
    color: #ffd180;
}

.feedback a:hover,
.develop a:hover,
.feedback a:focus,
.develop a:focus {
    text-decoration: underline;
}

.feedback a:active,
.develop a:active {
    color: #ee3643;
    text-decoration: none;
}

.feedback {
    margin-right: 53px;
}

.develop {
    margin-right: 15px;
}


/*------------------Modal-----------------*/
.modal {
    position: fixed;
    display: none;
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
}

.modal-close {
    position: absolute;
    top: 9px;
    right: 9px;
    width: 21px;
    height: 21px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    z-index: 6;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 21px;
    height: 3px;
    background-color: #ee3643;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

/*-----Modal-Map----*/
.modal-map {
    top: 50%;
    left: 50%;
    width: 940px;
    height: 446px;
    margin-top: -223px;
    margin-left: -470px;
    box-shadow: 0 0 16px 8px rgba(47, 42, 43, 0.5);
    z-index: 5;
}

.modal-map p {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
}

.modal-map iframe {
    position: relative;
    z-index: 2;
    border: none;
}


/*----------------Modal Write Us---------*/
.modal-write-us {
    position: fixed;
    left: 50%;
    top: 25%;
    width: 620px;
    margin-left: -320px;
    background-color: #fff;
    border-top: 7px solid #ff5257;
    box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
    z-index: 5;
}

.write-us label {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #000;
}

.write-us input[type="text"] {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 8px 14px;
    width: 188px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    border: 2px solid #dee3e4;
    border-radius: 2px;
    outline: none;
    color: #a9a9a9;
}

.form_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 460px;
    margin: 45px auto;
}

textarea {
    width: 428px;
    padding: 8px 14px;
    margin-top: 10px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    border: 2px solid #dee3e4;
    border-radius: 2px;
    outline: none;
    color: #a9a9a9;
}

.submit_wrapper {
    background-color: #f4f4f4;
    padding: 37px 0;
}

.write-us input[type="submit"] {
    width: 440px;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    display: block;
    margin: 0 auto;
    color: #fff;
    background-color: #ee3643;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    outline: none;
    padding: 10px;
    cursor: pointer;
}

.write-us input[type="submit"]:hover,
.write-us input[type="submit"]:focus {
    background-color: #ca2c37;
}

.write-us input:hover,
.write-us textarea:hover {
    border-color: #b5b5b5;
}

.write-us input:focus,
.write-us textarea:focus {
    border-color: #ee3643;
}