html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  color: #363636;
  overflow-x: hidden; }

p {
  margin: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }

@media (max-width: 1024px) {
  .container {
    padding: 0 10px; } }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.section {
  padding: 50px 0; }

.section--gray {
  background-color: #f5f9fa; }

.section__title {
  position: relative;
  margin: 0;
  padding-bottom: 40px;
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
  text-align: center; }
  .section__title::after {
    content: "";
    position: absolute;
    top: 55px;
    left: calc(50% - 188px);
    width: 366px;
    height: 1px;
    background-color: #19b5fe; }

@media (max-width: 1024px) {
  .section__title {
    font-size: 32px; }
    .section__title::after {
      top: 50px;
      left: calc(50% - 170px);
      width: 340px; } }

@media (max-width: 768px) {
  .section {
    padding: 35px 0; }
  .section__title {
    padding-bottom: 28px;
    font-size: 28px; }
    .section__title::after {
      top: 40px;
      left: calc(50% - 130px);
      width: 260px; } }

@media (max-width: 600px) {
  .section {
    padding: 25px 0; }
  .section__title {
    font-size: 24px; }
    .section__title::after {
      top: 40px;
      left: calc(50% - 100px);
      width: 200px; } }

@media (max-width: 420px) {
  .section__title--long {
    max-width: 300px;
    margin: 0 auto; }
    .section__title--long::after {
      top: 60px; } }

.button {
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
  background-color: #19b5fe;
  border: none;
  outline: none;
  transition: background-color 0.4s linear, opacity 0.4s linear; }
  .button:hover, .button:focus {
    background-color: #eb2f21;
    cursor: pointer; }
  .button:active {
    color: rgba(255, 255, 255, 0.8); }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }

.header.show {
  background-color: rgba(22, 22, 22, 0.85); }

.header__inner {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0; }

@media (max-width: 1024px) {
  .header__inner {
    padding: 10px 0; } }

.logo {
  display: flex;
  align-items: center;
  margin-right: auto; }

.logo__img img {
  display: block; }

.logo__text {
  padding-left: 10px;
  font-size: 28px;
  font-weight: 900;
  color: #fff; }

@media (max-width: 1024px) {
  .logo__img {
    width: 50px; } }

@media (max-width: 768px) {
  .logo__img {
    width: 45px; }
  .logo__text {
    font-size: 24px; } }

@media (max-width: 600px) {
  .logo__img {
    width: 40px; }
  .logo__text {
    font-size: 22px; } }

@media (max-width: 420px) {
  .logo__img {
    width: 35px; }
  .logo__text {
    font-size: 18px; } }

.intro {
  position: relative;
  height: 100vh;
  min-height: 640px;
  background: url("../img/intro-bg.jpg") center no-repeat;
  background-size: cover; }
  .intro::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.74); }

.intro__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  z-index: 2; }

.intro__title {
  margin: 0 auto;
  max-width: 680px;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #fff; }
  .intro__title span {
    font-size: 36px; }

.intro__subtitle {
  padding-top: 30px;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  color: #fff; }

.intro__form-text {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: #fff; }

.intro__form {
  width: 100%;
  max-width: 890px;
  margin: 45px auto 0; }

.intro__form-inner {
  display: flex;
  justify-content: space-between; }

.intro__label {
  width: 32.584%;
  margin-bottom: 20px; }

.intro__input {
  width: 100%;
  padding: 0 27px;
  line-height: 3.92;
  border-radius: 25px; }

.intro__button {
  display: block;
  margin: 0 auto;
  padding: 0 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 3.81;
  border-radius: 30px; }

.intro__anchor {
  position: absolute;
  left: calc(50% - 9px);
  bottom: 50px; }

@media (max-width: 1024px) {
  .intro__inner {
    padding: 0 10px; }
  .intro__title {
    font-size: 42px; }
    .intro__title span {
      font-size: 32px; }
  .intro__subtitle {
    font-size: 20px; }
  .intro__form {
    max-width: 740px; }
  .intro__button {
    padding: 0 30px;
    font-size: 15px;
    line-height: 2.8;
    border-radius: 20px; } }

@media (max-width: 768px) {
  .intro__inner {
    padding: 0 10px; }
  .intro__title {
    max-width: 580px;
    font-size: 36px; }
    .intro__title span {
      font-size: 26px; }
  .intro__subtitle {
    padding-top: 15px;
    font-size: 18px; }
  .intro__form {
    max-width: 580px; }
  .intro__input {
    line-height: 3.3;
    border-radius: 25px; }
  .intro__button {
    padding: 0 30px;
    font-size: 15px;
    line-height: 2.8;
    border-radius: 20px; } }

@media (max-width: 600px) {
  .intro__title {
    max-width: 410px;
    font-size: 26px; }
    .intro__title span {
      font-size: 18px; }
  .intro__subtitle {
    padding-top: 10px;
    font-size: 14px; }
  .intro__form {
    margin-top: 30px; }
  .intro__button {
    padding: 0 30px;
    font-size: 15px;
    line-height: 2.6;
    border-radius: 20px; }
  .intro__form-inner {
    flex-wrap: wrap; }
  .intro__label {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 15px; }
  .intro__input {
    padding: 0 27px;
    line-height: 3;
    border-radius: 25px; } }

@media (max-width: 420px) {
  .intro {
    min-height: 568px; }
  .intro__title {
    max-width: 300px;
    font-size: 20px; }
    .intro__title span {
      font-size: 18px; }
  .intro__form {
    margin-top: 30px; }
  .intro__label {
    max-width: 300px;
    margin-bottom: 10px; }
  .intro__input {
    line-height: 2.5; }
  .intro__button {
    line-height: 2.2;
    border-radius: 15px; }
  .intro__form-text {
    font-size: 12px; }
  .intro__anchor {
    bottom: 35px; } }

.phone {
  display: flex;
  align-items: center; }

.phone__icon {
  margin-right: 13px; }

.phone__text {
  font-size: 12px;
  font-weight: 300;
  color: #ffffff; }

.phone__link {
  font-size: 20px;
  font-weight: 500;
  color: #fff; }

@media (max-width: 1024px) {
  .phone__link {
    font-size: 18px; } }

@media (max-width: 768px) {
  .phone__icon {
    width: 25px; }
  .phone__text {
    font-size: 10px; }
  .phone__link {
    font-size: 16px; } }

@media (max-width: 600px) {
  .phone__icon {
    display: none; }
  .phone__link {
    font-size: 14px; } }

@media (max-width: 420px) {
  .phone__text {
    display: none; }
  .phone__link {
    font-size: 14px; } }

.nav__wrapper {
  display: flex;
  align-items: center; }

.nav {
  display: none;
  position: absolute;
  top: 100%;
  right: 0; }

.nav.show {
  display: flex;
  width: 100%;
  background-color: rgba(22, 22, 22, 0.85); }
  .nav.show .nav__inner {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0; }
  .nav.show .nav__link {
    padding: 0 10px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff; }
  .nav.show .nav__link:hover {
    transform: scale(1.1);
    color: #19b5fe; }

@media (max-width: 1024px) {
  .nav.show .nav__link {
    font-size: 14px; } }

@media (max-width: 768px) {
  .nav.show .nav__inner {
    padding: 15px 0; }
  .nav.show .nav__link {
    font-size: 12px; } }

@media (max-width: 600px) {
  .nav.show .nav__inner {
    display: flex;
    justify-content: space-around; }
  .nav.show .nav__link {
    padding: 0; } }

@media (max-width: 420px) {
  .nav.show .nav__inner {
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 0; }
  .nav.show .nav__link {
    padding: 5px 0; } }

.burger__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 80px; }
  .burger__wrapper .burger__text {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff; }

.burger {
  margin: 13px 0 9px;
  padding: 9px 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.3s linear;
  outline: none; }

.burger__item {
  position: relative;
  display: block;
  width: 46px;
  height: 3px;
  font-size: 0;
  color: transparent;
  background-color: #ffffff; }

.burger__item:before,
.burger__item:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  transition: transform 0.7s; }

.burger__item:before {
  top: -9px; }

.burger__item:after {
  top: 9px; }

.burger:hover {
  opacity: 0.7; }

.burger__wrapper.burger--close .burger__text {
  display: none; }

.burger__wrapper.burger--close .burger__item {
  background-color: transparent; }

.burger__wrapper.burger--close .burger__item::before {
  transform: rotate(45deg);
  top: 0; }

.burger__wrapper.burger--close .burger__item::after {
  transform: rotate(-45deg);
  top: 0; }

@media (max-width: 1024px) {
  .burger {
    margin: 5px 0; } }

@media (max-width: 768px) {
  .burger__wrapper .burger__text {
    font-size: 10px; }
  .burger__item {
    width: 34px; } }

@media (max-width: 600px) {
  .burger__wrapper {
    padding-left: 30px; }
  .burger__text {
    display: none; } }

@media (max-width: 420px) {
  .burger {
    margin: 0; }
  .burger__item {
    width: 30px; } }

.services__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.services__text-wrapper,
.services__img-wrapper {
  width: 48.6%;
  padding: 10px 0; }

.services__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.services__img {
  display: block; }

.services__title {
  margin: 0;
  padding-bottom: 10px;
  font-size: 28px;
  font-weight: 100;
  color: #19b5fe; }

.services__text {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.33; }

.services__button {
  width: 180px;
  margin-top: 22px;
  padding: 16px 0;
  font-size: 14px;
  font-weight: 400;
  border-radius: 25px; }

@media (max-width: 1024px) {
  .services__title {
    font-size: 24px; }
  .services__text {
    font-size: 16px; }
  .services__button {
    width: 160px;
    margin-top: 17px;
    padding: 12px 0;
    border-radius: 20px; } }

@media (max-width: 768px) {
  .services__title {
    padding-bottom: 8px;
    font-size: 18px; }
  .services__text {
    font-size: 13px; }
  .services__button {
    width: 135px;
    margin-top: 15px;
    padding: 8px 0;
    font-size: 11px;
    border-radius: 15px; } }

@media (max-width: 600px) {
  .services__item {
    flex-direction: column;
    padding: 10px 0; }
    .services__item .services__text-wrapper,
    .services__item .services__img-wrapper {
      width: 100%; }
    .services__item .services__text-wrapper {
      order: 1; }
    .services__item .services__img-wrapper {
      padding: 0;
      display: flex;
      justify-content: center; } }

.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px; }

.advantage__item {
  width: 25%;
  padding: 0 15px 30px; }

.advantage__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 124px;
  height: 72px;
  margin: 0 auto;
  border-bottom: 1px solid #19b5fe; }

.advantage__text-wrapper {
  padding-top: 20px;
  text-align: center; }

.advantage__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  color: #3f3f3f; }

@media (max-width: 1024px) {
  .advantages {
    margin: 0 -10px; }
  .advantage__item {
    padding: 0 10px 25px; }
  .advantage__text-wrapper {
    padding-top: 14px; }
  .advantage__text {
    font-size: 12px; } }

@media (max-width: 768px) {
  .advantage__item {
    width: 33%; } }

@media (max-width: 600px) {
  .advantage__item {
    width: 50%; }
  .advantage__text {
    font-size: 13px; } }

@media (max-width: 420px) {
  .advantages {
    margin: 0; }
  .advantage__item {
    width: 100%;
    max-width: 360px; } }

.interaction__item {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.interaction__img,
.interaction__title {
  width: 50%; }

.interaction__title {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  color: #464646; }

@media (max-width: 1024px) {
  .interaction__title {
    font-size: 26px; } }

@media (max-width: 768px) {
  .interaction__title {
    font-size: 20px; } }

@media (max-width: 600px) {
  .interaction__item {
    position: relative;
    margin-bottom: 15px;
    transition: 0.3s; }
    .interaction__item:hover {
      transform: scale(1.05);
      cursor: pointer; }
    .interaction__item::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6); }
  .interaction__img,
  .interaction__title {
    width: 100%; }
  .interaction__title {
    position: absolute;
    color: white;
    z-index: 10; } }

@media (max-width: 420px) {
  .interaction__item {
    margin-bottom: 5px; }
  .interaction__title {
    font-size: 15px; } }

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.team__item {
  width: 33.3333%;
  margin-bottom: 45px;
  text-align: center; }

.team__avatar {
  transition: 0.5s linear; }
  .team__avatar:hover {
    transform: rotateY(180deg) scale(1.1); }

.team__name {
  margin: 0;
  padding-top: 15px;
  font-size: 24px;
  font-weight: 300;
  color: #19b5fe;
  text-align: center; }

.team__position {
  font-size: 16px;
  line-height: 1.7;
  text-align: center; }

@media (max-width: 1024px) {
  .team__avatar {
    max-width: 195px; } }

@media (max-width: 768px) {
  .team {
    justify-content: space-between; }
  .team__avatar {
    max-width: 180px; }
  .team__name {
    font-size: 20px; }
  .team__position {
    font-size: 15px; } }

@media (max-width: 600px) {
  .team__item {
    width: 50%; } }

@media (max-width: 420px) {
  .team__item {
    width: 100%; }
  .team__avatar {
    max-width: 100%; }
  .team__name {
    font-size: 22px; }
  .team__position {
    font-size: 16px; } }

.quote {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.quote-item-slider {
  min-height: 170px; }

.quote__mark {
  position: absolute; }

.quote__mark--left {
  top: 0;
  left: 0; }

.quote__mark--right {
  bottom: 0;
  right: 0;
  transform: rotateY(180deg); }

.quote__title {
  margin: 0;
  padding-bottom: 15px;
  font-size: 30px;
  font-weight: 500; }

.quote__text {
  max-width: 945px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.44;
  text-align: center; }

.quote__author {
  padding-top: 15px;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.44;
  text-align: center; }
  .quote__author span {
    font-size: 16px;
    font-weight: 300; }

@media (max-width: 1024px) {
  .quote__mark--left,
  .quote__mark--right {
    width: 35px; }
  .quote__text {
    padding: 0 25px; } }

@media (max-width: 768px) {
  .quote__mark--left,
  .quote__mark--right {
    width: 25px; }
  .quote__mark--left {
    top: 30px; }
  .quote__mark--right {
    bottom: 40px; }
  .quote__title {
    padding-bottom: 10px;
    font-size: 25px; }
  .quote__author {
    padding-top: 10px; } }

@media (max-width: 600px) {
  .quote__mark--left,
  .quote__mark--right {
    display: none; }
  .quote__text {
    padding: 0; } }

@media (max-width: 420px) {
  .quote__title {
    font-size: 22px; }
  .quote__text {
    padding: 0;
    font-size: 15px; } }

.blog {
  display: flex;
  justify-content: space-between; }

.blog__item {
  display: flex;
  flex-direction: column;
  width: 48.68%; }

.blog__img {
  transition: 0.3s; }

.blog__img:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5); }

.blog__link {
  padding-top: 25px;
  font-size: 18px;
  line-height: 1.33;
  color: #19b5fe;
  text-align: center;
  transition: 0.3s; }

.blog__link:hover,
.blog__link:focus {
  text-decoration: underline; }

@media (max-width: 1024px) {
  .blog__link {
    padding-top: 15px;
    font-size: 16px; } }

@media (max-width: 768px) {
  .blog__link {
    padding-top: 10px;
    font-size: 14px; } }

@media (max-width: 600px) {
  .blog {
    flex-direction: column; }
  .blog__item {
    width: 100%;
    margin-bottom: 20px; }
  .blog__link {
    padding-top: 15px;
    font-size: 16px; } }

@media (max-width: 420px) {
  .blog__link {
    padding-top: 10px;
    font-size: 14px; } }

.map {
  font-size: 0; }

.map__frame {
  width: 100%;
  height: 600px; }

@media (max-width: 1024px) {
  .map__frame {
    height: 400px; } }

@media (max-width: 768px) {
  .map__frame {
    height: 350px; } }

.footer {
  background-color: #24241f; }

.footer__top-wrapper .container {
  border-bottom: 1px solid #50504c; }

.footer__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  color: #ffffff; }

.footer__top {
  display: flex;
  justify-content: space-between;
  padding: 38px 0 55px; }

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0 42px; }

.footer__creator {
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  .footer__creator .footer__text {
    margin-right: 13px;
    padding-bottom: 5px; }

@media (max-width: 768px) {
  .footer__top {
    flex-direction: column;
    justify-content: center;
    padding: 30px 0; }
  .footer__bottom {
    padding: 20px 0 35px; }
  .footer__creator .footer__text {
    display: none; } }

@media (max-width: 420px) {
  .footer__top {
    padding: 20px 0; }
  .footer__bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0; }
  .footer__creator {
    order: 1; }
  .footer__copyright {
    order: 2;
    padding-top: 10px; } }

.social__text {
  padding: 0 12px 5px 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  color: #ffffff; }

.social__list {
  display: flex; }

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 7px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  transition: 0.5s; }
  .social__item .social__icon {
    fill: #ffffff;
    transition: fill 0.5s linear; }
  .social__item:hover, .social__item:focus {
    border-color: #19b5fe; }
  .social__item:hover .social__icon,
  .social__item:focus .social__icon {
    fill: #19b5fe; }

@media (max-width: 768px) {
  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; } }

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 550px; }

.footer-nav__link {
  min-width: 160px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  color: #ffffff;
  transition: 0.5s; }

.footer-nav__link:hover,
.footer-nav__link:focus {
  opacity: 0.8; }

@media (max-width: 768px) {
  .footer-nav {
    max-width: 100%;
    justify-content: space-around;
    margin-bottom: 15px; }
  .footer-nav__link {
    min-width: auto;
    margin: 0 5px; } }

@media (max-width: 420px) {
  .footer-nav__link {
    width: 100%;
    text-align: center;
    margin: 0; } }

.questions {
  position: relative;
  padding: 50px 0 66px;
  background-image: url("../img/question-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .questions::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 26, 0.66); }
  .questions .section__header,
  .questions .container {
    position: relative;
    z-index: 2; }
  .questions .section__title {
    color: #ffffff; }
    .questions .section__title::after {
      background-color: #ffffff; }

.questions__subtitle {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.46;
  text-align: center;
  color: #fff; }

.questions__inner {
  display: flex;
  margin-top: 45px; }

.questions__form {
  max-width: 750px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.questions__form-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%; }

.questions__label {
  width: 32%;
  margin-bottom: 15px; }

.question__input {
  width: 100%;
  padding: 0 0 0 20px;
  line-height: 3.61;
  border-radius: 6px; }

.questions__textarea {
  width: 100%;
  min-height: 120px;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 6px; }

.questions__button {
  padding: 0 45px;
  line-height: 3.73;
  border-radius: 27px; }

@media (max-width: 1024px) {
  .questions__subtitle {
    font-size: 22px; } }

@media (max-width: 768px) {
  .questions__form {
    width: 60%; }
  .questions__label {
    width: 100%;
    margin-bottom: 15px; } }

@media (max-width: 600px) {
  .questions__subtitle {
    font-size: 17px; }
  .questions__inner {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 25px; }
  .questions__form {
    width: 100%;
    max-width: 420px; }
  .questions__button {
    padding: 0 35px;
    line-height: 2.5;
    border-radius: 27px; } }

@media (max-width: 420px) {
  .questions__subtitle {
    font-size: 14px; } }

.form__input,
.form__textarea {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #3f3f3f;
  border: none;
  outline: none; }

.form__input:focus,
.form__textarea:focus {
  box-shadow: 0 0 2px 2px rgba(25, 181, 254, 0.8); }

.contact {
  padding-left: 30px; }

.contact__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px; }

.contact_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  margin-right: 14px;
  border: 1px solid #fff;
  border-radius: 2px; }
  .contact_icon .contact__logo {
    fill: #fff; }

.contact__content a {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff; }

.contact__text {
  font-size: 16px;
  font-weight: 300;
  color: #fff; }

@media (max-width: 1024px) {
  .contact {
    padding-left: 15px; }
  .contact__content a {
    font-size: 16px; }
  .contact__text {
    font-size: 14px; } }

@media (max-width: 600px) {
  .contact {
    padding: 30px 0 0; } }

.portfolio__nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 810px;
  margin: 0 auto 15px;
  padding: 3px 0;
  border: 1px solid #19b5fe;
  border-radius: 23px; }

.portfolio__nav-item {
  padding: 0 36px;
  font-size: 14px;
  font-weight: 300;
  line-height: 2.7;
  text-transform: uppercase;
  color: #19b5fe;
  border-right: 1px solid #19b5fe; }

.portfolio__nav-item:hover {
  cursor: pointer; }

.portfolio__nav-item:last-child {
  border-right: none; }

.portfolio__nav-item.is-active {
  background-color: #19b5fe;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 6px #19b5fe; }

.portfolio__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.portfolio__item {
  width: 33.333%;
  padding: 15px;
  text-align: center;
  font-size: 0; }

@media (max-width: 1024px) {
  .portfolio__nav {
    max-width: 740px; }
  .portfolio__nav-item {
    padding: 0 30px;
    font-size: 13px; }
  .portfolio__item {
    padding: 10px; } }

@media (max-width: 768px) {
  .portfolio__nav {
    max-width: 580px; }
  .portfolio__nav-item {
    padding: 0 15px;
    font-size: 12px; }
  .portfolio__item {
    padding: 5px; } }

@media (max-width: 600px) {
  .portfolio__nav {
    flex-direction: column;
    padding: 0;
    border: 1px solid #19b5fe;
    border-radius: 16px; }
  .portfolio__nav-item {
    border-right: none; }
  .portfolio__nav-item.is-active {
    box-shadow: 0 0 0 3px #19b5fe; }
  .portfolio__item {
    width: 50%; } }

@media (max-width: 420px) {
  .portfolio__item {
    width: 100%; } }
