/*FONTS
=========================*/
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Regular.woff2') format('woff2'),
    url('../fonts/Geometria-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Medium.woff2') format('woff2'),
    url('../fonts/Geometria-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Bold.woff2') format('woff2'),
    url('../fonts/Geometria-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/*GLOBAL STYLES
========================================================*/
html,
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Geometria', sans-serif;
    font-size: 16px;
    font-weight: 400;

    color: #0d3f57;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ol {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.container,
.container--r {
    max-width: 1170px;
    margin: 0 auto;
}

.container--r {
    position: relative;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;

    text-align: center;
}

.section__subtitle {
    font-size: 20px;
    font-weight: 400;

    line-height: 1.2;

    text-align: center;
}

.button {
    font-weight: 700;

    font-size: 12px;

    line-height: 19px;

    text-align: center;

    color: #ffffff;

    border-radius: 5px;
    background-image: -moz-linear-gradient(-49deg, rgb(255, 38, 38) 0%, rgb(255, 109, 24) 100%);
    background-image: -webkit-linear-gradient(-49deg, rgb(255, 38, 38) 0%, rgb(255, 109, 24) 100%);
    background-image: -ms-linear-gradient(-49deg, rgb(255, 38, 38) 0%, rgb(255, 109, 24) 100%);
}

.button:hover,
.button:focus {
    background-image: -moz-linear-gradient(49deg, rgb(255, 38, 38) 0%, rgb(255, 109, 24) 100%);
    background-image: -webkit-linear-gradient(49deg, rgb(255, 38, 38) 0%, rgb(255, 109, 24) 100%);
    background-image: -ms-linear-gradient(49deg, rgb(255, 38, 38) 0%, rgb(255, 109, 24) 100%);
}

.button:active {
    color: rgba(255, 255, 255, 0.7);
}

.input {
    outline: none;
}

.input:hover {
    border: 1px solid #0d3f57;
}

.input:focus {
    border-color: #ff6100;
}

/*HEADER
=======================================*/
.header__inner,
.footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    padding: 15px 0;
}

.header__logo-img,
.footer__logo-img {
    font-size: 0;
}

.header__logo-img:hover,
.header__logo-img:focus,
.footer__logo-img:hover,
.footer__logo-img:focus {
    opacity: 0.7;
}

.header__logo-img:active,
.footer__logo-img:active {
    opacity: 0.5;
}

.header__logo-text,
.footer__logo-text {
    margin-left: 20px;
    padding-top: 15px;

    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

    color: #0b3f57;
}

.header__logo-text:hover span,
.header__logo-text:focus span,
.footer__logo-text:hover span,
.footer__logo-text:focus span {
    color: #6b0f08;
}

.header__logo-text span,
.footer__logo-text span {
    font-weight: 700;
}

.header__timetable {
    width: 170px;
    margin-left: 278px;

    font-size: 12px;

    letter-spacing: 0.01em;
    line-height: 19px;

    text-align: center;

    background-image: url(../img/icon-clock.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: right 16px;
}

.timetable__time,
.timetable__day,
.phone__text,
.phone__number {
    display: inline-block;
}

.timetable__time {
    padding-top: 6px;
    font-weight: 700;
}

.timetable__day {
    padding-top: 2px;
}

.header__phone {
    width: 170px;
    margin-left: 130px;

    line-height: 19px;
    text-align: right;
}

.phone__text {
    display: inline-block;
    padding-top: 6px;

    font-size: 12px;
}

.phone__number {
    padding-top: 2px;

    font-size: 15px;
    font-weight: 700;
}

.header__button {
    margin-left: 30px;
    padding: 15px 34px 15px 33px;

    font-size: 12px;

    line-height: 19px;
    letter-spacing: 0.01em;
}

/*MAIN
===============================================*/

/*INTRO
====================*/
.intro {
    height: 600px;

    color: #ffffff;

    background-image: url(../img/bg-intro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.intro__title {
    padding-top: 70px;

    font-size: 36px;
    font-weight: 700;

    line-height: 32px;
    letter-spacing: 0.01em;
}

.intro__subtitle {
    width: 320px;
    margin-top: 36px;

    font-size: 18px;
    font-weight: 500;

    line-height: 26px;
}

.intro__location {
    margin-top: 34px;
    line-height: 24px;
}

.intro__list {
    display: flex;
    justify-content: flex-start;

    margin-top: 198px;
}

.intro__item {
    width: 105px;
    margin-right: 95px;

    font-size: 14px;
    font-weight: 500;

    line-height: 1.2;
}

.intro__item span {
    display: inline-block;
    padding-top: 12px;

    font-size: 12px;
    font-weight: 400;

    line-height: 1.2;
}

.intro__form-wrapper {
    position: absolute;

    top: 91px;
    right: 0;

    width: 370px;
    padding: 79px 78px 83px 79px;
    background-image: url(../img/intro-bg-block.png);
    background-repeat: no-repeat;
}

.intro__form-title {
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;

    color: #0d3f57;

    text-align: center;
}

.intro__form {
    width: 190px;
    margin: 0 auto;
}

.intro__input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
}

.intro__input::placeholder {
    text-align: center;
}

.input,
.input::placeholder {
    font-size: 12px;
    line-height: 19px;

    color: rgba(0, 0, 0, 0.5);
}

.input {
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.intro__button {
    width: 190px;
    margin-top: 5px;
    padding: 14px 0 15px;

    font-size: 13px;
    letter-spacing: 0.01em;

    border: none;

    cursor: pointer;
}

/*PROJECTS
=================================*/
.projects {
    padding-top: 93px;
}

.projects .section__title {
    margin-bottom: 57px;
}

.projects-nav {
    width: 372px;
    margin: 0 auto;
    padding-bottom: 61px;
}

.projects-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects-nav__item {
    padding: 7px 13px 6px;
    font-size: 18px;
    font-weight: 500;

    line-height: 1.2;

    text-transform: uppercase;

    border: 2px solid transparent;

    border-radius: 5px;

    cursor: pointer;
}

.projects-nav__item--active {
    border-color: #0d3f57;
}

.projects-nav__item:hover,
.projects-nav__item:focus {
    color: #6b0f08;
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 60px;

    font-size: 0;
}

.projects__item {
    width: 370px;
    border-radius: 6px;
}

.projects__item:hover,
.projects__item:focus {
    -webkit-box-shadow: 0 10px 15px 3px rgba(26, 46, 176, 1);
    -moz-box-shadow: 0 10px 15px 3px rgba(26, 46, 176, 1);
    box-shadow: 0 10px 15px 3px rgba(26, 46, 176, 1);
}

.projects__description-wrapper {
    border: 1px solid #dddddd;
    border-radius: 6px;
    border-top: none;
}

.projects__title {
    padding-top: 26px;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

    text-align: center;
}

.projects__description {
    width: 170px;
    margin: 15px auto 0;

    font-size: 16px;
    line-height: 30px;

    text-align: center;
}

.projects__button {
    display: block;
    width: 210px;
    margin: 24px auto 30px;
    padding: 22px 32px 22px 34px;

    font-size: 13px;

    line-height: 16px;
}

.slider-box {
    display: flex;
    justify-content: space-between;

    width: 204px;
    height: 20px;
    margin: 0 auto 100px;
}

.slider__arrow {
    fill: #0d3f57;
    cursor: pointer;
}

.slider__arrow:hover,
.slider__arrow:focus {
    fill: #6b0f08;
}

.arrow-left {
    transform: rotate(180deg);
}

.slider-circle__wrapper {
    display: flex;
    justify-content: space-between;

    width: 60px;
}

.circle {
    width: 20px;
    height: 20px;

    border: 1px solid #0d3f57;
    border-radius: 50%;
}

.circle:hover,
.circle:focus {
    border: 3px solid #0d3f57;
}


/*DESIGN
====================================*/
.design {
    padding-top: 95px;
    padding-bottom: 100px;

    background: url("../img/top-leaf.png") no-repeat center top,
    url(../img/bg-project.jpg), no-repeat;
}

.design .section__subtitle {
    margin-top: 52px;
    margin-bottom: 58px;
}

.design__list {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.design__item {
    position: relative;
    font-size: 0;
}

.design__item:hover .mask {
    display: block;
}

.mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    width: 370px;
    height: 245px;

    background-color: rgba(0, 177, 0, 0.6);
    border-radius: 4px;
}

.mask::after {
    content: "";
    position: absolute;

    top: 94px;
    left: 160px;

    width: 50px;
    height: 50px;

    background: url("../img/plus.png") no-repeat;

    cursor: pointer;
}

.design__list-wrapper {
    position: relative;
}

.design__arrow--left,
.design__arrow--right {
    position: absolute;

    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-left: 14px;

    background-color: #ffffff;

    z-index: 20;
}

.design__arrow--left {
    top: 103px;
    left: 0;
}

.design__arrow--right {
    top: 103px;
    right: 0;
}

.design__arrow .arrow-left:hover,
.design__arrow .arrow-right:hover {
    fill: #6b0f08;

    cursor: pointer;
}

.design .design__subtitle {
    margin-top: 56px;
    margin-bottom: 58px;
}

.design__proposal-wrapper {
    margin-top: 60px;
    padding: 68px 99px 70px 100px;

    background-color: #ffffff;
    border-radius: 5px;
}

.proposal__title {
    font-size: 22px;
    font-weight: 700;

    line-height: 26px;

    text-align: left;
}

.proposal__text {
    padding-top: 35px;
    padding-bottom: 45px;
}

.design__form {
    display: flex;
    justify-content: space-between;

    width: 870px;
}

.design__input,
.design__button {
    width: 270px;
}

.design__input {
    padding: 19px 25px 20px;
}

.design__button {
    padding-left: 80px;
    padding-right: 73px;

    font-size: 13px;
    line-height: 1.2;

    border: none;
    cursor: pointer;
}

/*HOME
===========================================*/
.home {
    padding-top: 95px;
    padding-bottom: 112px;
}

.home .section__title {
    margin-bottom: 52px;
}

.home .section__subtitle {
    margin-bottom: 55px;
}

.construction {
    padding-bottom: 50px;
    background: url("../img/home--design.png") no-repeat center top;
}

.construction__list {
    padding-top: 15px;
}

.construction__item {
    display: flex;
    justify-content: space-between;
}

.construction__link {
    font-weight: 500;

    line-height: 50px;

    color: #0d3f57;
}

.construction__link:hover {
    color: #6b0f08;
}

.construction__link span {
    text-decoration: underline;
}

.construction__link--left {
    width: 280px;
}

.construction__link--right {
    width: 260px;
}

.construction__link--left {
    text-align: right;
}

.construction__link--right {
    text-align: left;
}

/*MATERIALS
================================*/
.materials {
    padding-bottom: 102px;

    background-color: #0d3f57;
    color: #ffffff;
}

.materials .section__title {
    padding-top: 96px;
    margin-bottom: 56px;

    color: #ffffff;
}

.materials__list {
    display: flex;
    justify-content: space-between;
}

.material__item {
    width: 270px;
    font-size: 0;

    text-align: center;
}


.materials__title {
    padding-top: 26px;
    padding-bottom: 24px;

    font-size: 14px;
    font-weight: 500;

    line-height: 1.2;

    text-transform: uppercase;

    cursor: pointer;
}

.materials__title:hover {
    color: rgba(255, 255, 255, 0.7);
}

.materials__link {
    font-size: 14px;

    text-decoration: underline;

    color: #ffffff;
}

.materials__link:hover,
.materials__link:focus {
    color: #6b0f08;
}

/*INFO
===============================*/
.info {
    padding-top: 95px;
    padding-bottom: 55px;

    background: url("../img/home-in-australia.jpg") no-repeat;
}

.info .section__title {
    padding-bottom: 78px;
}

.info__list {
    margin-left: 200px;
    margin-right: 170px;
}

.info__item {
    display: flex;
    justify-content: flex-start;

    margin-bottom: 40px;
}

.info__text-wrapper {
    padding-left: 30px;
}

.info__text {
    padding-top: 15px;
    padding-bottom: 26px;

    font-size: 18px;
    font-weight: 500;

    line-height: 21px;
}

.info__subtext {
    font-size: 14px;

    line-height: 1.2;
}

/*EMPLOYEES
====================================*/
.employees {
    padding-top: 95px;
    padding-bottom: 107px;
}

.employees .section__title {
    padding-bottom: 55px;
}

.employee {
    display: flex;
    justify-content: flex-start;
    padding-left: 100px;

    background-image: url(../img/employees-bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.employee__img-wrapper {
    position: relative;

    width: 470px;
    margin-right: 130px;
    font-size: 0;
}

.employee__mask {
    position: absolute;
    top: 0;
    left: 0;

    width: 470px;
    height: 301px;

    background-color: rgba(0, 0, 0, 0.5);
}

.employee__img-wrapper::after {
    content: "";
    position: absolute;

    top: 132px;
    left: 218px;

    width: 40px;
    height: 40px;

    background: url("../img/icon-play.png") no-repeat;
    cursor: pointer;
}

.employee__img-wrapper:hover .employee__mask {
    display: none;
}

.employee__img-wrapper:hover:after {
    opacity: 0.5;
}

.employee__description {
    width: 260px;
}

.employee__name {
    margin-top: 28px;

    font-size: 20px;
    font-weight: 700;

    line-height: 24px;
}

.employee__position {
    margin-top: 24px;
    line-height: 19px;
}

.employee__phone {
    margin-top: 75px;
    line-height: 19px;
}

.employee__phone span {
    display: inline-block;
    padding-top: 25px;

    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
}

/*PERSON
=============================*/
.person {
    padding-top: 93px;
    padding-bottom: 100px;

    background-color: #e8f3fa;
}

.person .section__title {
    margin-bottom: 55px;
}

.person__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.person__item {
    width: 370px;

    text-align: center;
}

.person__img-wrapper {
    font-size: 0;
    cursor: pointer;
}

.person__title {
    margin-top: 26px;

    font-size: 18px;
    font-weight: 700;

    line-height: 1.2;
}

.person__position {
    margin-top: 18px;
    padding-bottom: 34px;

    font-size: 14px;
    line-height: 1.2;
}

.cv__wrapper {
    position: relative;

    padding: 27px 29px 4px;

    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}

.cv__wrapper:hover {
    -webkit-box-shadow: 0 1px 25px 0 rgba(46, 40, 214, 0.54);
    -moz-box-shadow: 0 1px 25px 0 rgba(46, 40, 214, 0.54);
    box-shadow: 0 1px 25px 0 rgba(46, 40, 214, 0.54);
}


.cv__wrapper::before {
    content: "";

    position: absolute;

    top: -30px;
    left: 170px;

    display: block;
    width: 30px;
    height: 30px;
    border: 15px solid transparent;
    border-bottom: 15px solid #ffffff;
}

.cv__text {
    padding-bottom: 17px;

    font-size: 14px;
    line-height: 17px;
}

/*ASKS
===================================*/
.asks {
    padding-top: 96px;
    padding-bottom: 77px;

    color: #ffffff;

    background-image: url("../img/bg-asks.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.asks .section__title {
    margin-bottom: 53px;
}

.asks .section__subtitle {
    margin-bottom: 44px;
}

.asks__list {
    margin-left: 11px;

    list-style-position: inside;
}

.asks__item {
    position: relative;
    font-size: 16px;
}

.asks__item::before {
    content: "";

    position: absolute;
    top: 14px;
    left: -10px;

    width: 30px;
    height: 30px;

    border: 1px solid #ffffff;
    border-radius: 50%;
}

.asks__item a {
    margin-left: 25px;
    line-height: 60px;

    text-decoration: underline;
    color: #ffffff;
}

.asks__item a:hover {
    color: #6b0f08;
}

/*CONSULTATION
=======================================*/
.consultation {
    padding-top: 65px;
    padding-bottom: 70px;
}

.consultation__wrapper {
    padding-left: 100px;
}

.consultation .section__title {
    font-size: 22px;

    text-align: left;
}

.consultation .section__subtitle {
    margin-top: 36px;
    margin-bottom: 46px;
    font-size: 16px;

    text-align: left;
}

.consultation .design__button {
    padding-left: 58px;
    padding-right: 58px;
}

.consultation__phone {
    margin-top: 47px;
    font-size: 14px;
}

.consultation__phone span {
    font-weight: 700;
}

/*CONTACTS
========================================*/
.contacts {
    position: relative;
    height: 540px;
}

.map,
.contact {
    position: absolute;
}

.map {
    top: 0;
    left: calc(50% - 975px);
    font-size: 0;
}

.contact {
    top: 0;
    left: 50%;

    width: 50%;

    padding-left: 117px;
    padding-bottom: 68px;

    background-color: #e8f3fa;
}

.contact__title {
    padding-top: 97px;
    padding-bottom: 36px;

    font-size: 22px;
    font-weight: 700;

    line-height: 1.2;
}

.contact-box {
    margin-top: 44px;
}

.contact--address,
.contact--tel,
.contact--time {
    position: relative;

    width: 228px;
    padding-left: 50px;
    margin-bottom: 37px;

    font-size: 14px;
    line-height: 1.2;
}

.contact--address::before,
.contact--tel::before,
.contact--time::before {
    content: "";
    position: absolute;

    top: 2px;
    left: 0;
}

.contact--address::before {
    width: 15px;
    height: 20px;

    background: url("../img/svg/icon-map-pin.svg") no-repeat;
}

.contact--tel::before {
    width: 20px;
    height: 20px;

    background: url("../img/svg/icon-phone.svg") no-repeat;
}

.contact--time::before {
    width: 20px;
    height: 20px;

    background: url("../img/svg/icon-clock.svg") no-repeat;
}

/*FOOTER
================================*/
.footer {
    padding: 30px 0;
}

.footer__inner {
    justify-content: flex-start;

    padding: 0;
}

