/*Fonts
================================*/
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/OpenSansCondensed-Bold.woff2') format('woff2'),
    url('../fonts/OpenSansCondensed-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/*Global Styles*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;

    color: #000000;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/*Container*/
.container {
    width: 100%;
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}


/*Header*/
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
}

.header__logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin-right: 28px;
}

.header__subtitle {
    max-width: 220px;
    color: #0096dc;
}

.edit__button {
    display: flex;
    justify-content: space-between;

    padding: 10px 18px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    color: #55a831;

    border: 2px solid #55a831;
    border-radius: 8px;
    background-color: transparent;
    transition: color 0.3s linear,
    border-top-color 0.3s linear,
    border-bottom-color 0.3s linear,
    border-left-color 0.3s linear,
    border-right-color 0.3s linear;
}

.edit__button:hover,
.edit__button:focus {
    color: #0096dc;
    border-color: #0096dc;
    cursor: pointer;
}

.edit-icon {
    margin-right: 10px;
    fill: #55a831;
    transition: fill 0.3s linear;
}

.edit__button:hover .edit-icon,
.edit__button:focus .edit-icon {
    fill: #0096dc;
}

.header__schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.4;
    color: #333333;
}

.header__clock-icon {
    margin-right: 20px;
    fill: #a5a5a5;
}

.schedule--time {
    font-size: 18px;
    font-weight: 600;
}

.header__phone {
    display: flex;
    justify-content: space-between;
}

.header__phone-icon {
    margin: 5px 10px 0 0;
}

.header__phone-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: right;
}

.phone__link {
    padding-bottom: 5px;
    font-size: 23px;
    font-weight: 700;
    color: #333333;
}

.phone__call-back {
    font-size: 15px;
    text-decoration: underline;
    color: #0089cc;
}

.phone__call-back:hover,
.phone__call-back:focus {
    color: #55a831;
}



