/*Fonts
================================*/
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/OpenSansCondensed-Bold.woff2') format('woff2'),
    url('../fonts/OpenSansCondensed-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/*Global Styles*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;

    color: #333333;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/*Container*/
.container {
    width: 100%;
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}

/*Section*/
.section--gray {
    background-color: #f7f7f7;
}

.section__title {
    position: relative;
    padding: 80px 0 100px;
    font-size: 30px;

    text-transform: uppercase;
    text-align: center;
}

.section__title::after {
    content: url("../img/title-line.png");
    position: absolute;
    top: 130px;
    left: calc(50% - 85px);
}


/*Header*/
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
}

.header__logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin-right: 28px;
}

.header__subtitle {
    max-width: 220px;
    color: #0096dc;
}

.edit__button {
    display: flex;
    justify-content: space-between;

    padding: 10px 18px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    color: #55a831;

    border: 2px solid #55a831;
    border-radius: 8px;
    background-color: transparent;
    transition: color 0.3s linear,
    border-top-color 0.3s linear,
    border-bottom-color 0.3s linear,
    border-left-color 0.3s linear,
    border-right-color 0.3s linear;
}

.edit__button:hover,
.edit__button:focus {
    color: #0096dc;
    border-color: #0096dc;
    cursor: pointer;
}

.edit-icon {
    margin-right: 10px;
    fill: #55a831;
    transition: fill 0.3s linear;
}

.edit__button:hover .edit-icon,
.edit__button:focus .edit-icon {
    fill: #0096dc;
}

.header__schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.4;
    color: #333333;
}

.header__clock-icon {
    margin-right: 20px;
    fill: #a5a5a5;
}

.schedule--time {
    font-size: 18px;
    font-weight: 600;
}

.header__phone {
    display: flex;
    justify-content: space-between;
}

.header__phone-icon {
    margin: 5px 10px 0 0;
}

.header__phone-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: right;
}

.phone__link {
    padding-bottom: 5px;
    font-size: 23px;
    font-weight: 700;
    color: #333333;
}

.phone__call-back {
    font-size: 15px;
    text-decoration: underline;
    color: #0089cc;
}

.phone__call-back:hover,
.phone__call-back:focus {
    color: #55a831;
}

/*Intro*/
.intro {
    /*height: 640px;*/
    background-color: #a5a5a5;
    background-image: url("../img/intro/intro_bg.jpg");
    background-position: top center;
    background-size: cover;
}

.intro__inner {
    position: relative;
    padding-top: 110px;
}

.intro__title {
    font-size: 55px;
}

.intro__subtitle {
    font-size: 26px;
}

.intro__benefits {
    display: flex;
    margin-top: 150px;
    padding-bottom: 140px;
}

.benefits__item {
    position: relative;
    width: 110px;
    height: 110px;
    margin-right: 20px;
    padding-top: 45px;

    font-family: 'Open Sans Condensed', serif;
    font-size: 16px;

    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    background: linear-gradient(121deg, #0084cc, #2db7f8);
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.benefits__icon {
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

.benefits__icon--time {
    left: 26px;
    transform: translate3d(0, 0, 0);
}

.benefits__icon--up {
    bottom: 80px;
}


.intro__form {
    position: absolute;
    top: 100px;
    right: 0;

    width: 370px;
}

/*Form*/
.form {
    padding: 35px 50px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
}

.form__title {
    padding-bottom: 20px;
    font-size: 20px;
}

.form__title span {
    font-size: 24px;
    line-height: 2;
    text-transform: uppercase;
}

.form__input {
    width: 100%;
    margin-bottom: 20px;

    font-size: 15px;
    line-height: 3.9;

    text-align: center;

    color: #333333;
    border: 1px solid #999999;
    border-radius: 8px;

    outline: none;
}

.form__input:focus {
    border-color: #55a831;
}

.form__button {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;

    font-family: 'Open Sans Condensed', serif;
    font-size: 20px;
    line-height: 3.9;
    text-align: center;
    text-transform: uppercase;

    border: 1px solid #ffc600;
    border-radius: 8px;
    background: linear-gradient(-90deg, #ffed26, #ffb400);
    box-shadow: 0 2px 20px 0 rgba(255, 153, 0, 0.4);

    cursor: pointer;
}

.form__button:hover {
    box-shadow: none;
}

.form__text {
    font-size: 11px;
    font-weight: 300;
    color: #666666;
}


/*Glazing*/
.glazing__nav {
    display: flex;
    justify-content: space-between;
}

.glazing__link-wrapper {
    text-align: center;
}

.glazing__img {
    display: block;
    margin: 0 auto 25px;
}

.glazing__link {
    display: inline-block;
    max-width: 140px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.45;
    text-decoration: underline;
    color: #249ae6;
}

.is-active .glazing__link {
    color: #333333;
    text-decoration: none;
}

.glazing__link:hover,
.glazing__link:focus {
    color: #55a831;
}

.is-active .glazing__link:hover,
.is-active .glazing__link:focus {
    color: #333333;
}


.glazing__list {
    margin-top: 35px;
    margin-bottom: 100px;
}

.glazing__item-wrapper {
    display: none;
    justify-content: space-between;
}

.glazing__item-wrapper.is-active {
    display: flex;
}

.glazing__item {
    width: 50%;
}

.glazing__item {
    position: relative;
    padding: 0 58px;
    border-top: 5px solid #000000;
    border-radius: 5px;
}

.glazing__item::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 7px);
    width: 14px;
    height: 14px;
    border: 7px solid transparent;
}

.glazing__item--cool {
    background-image: url('../img/glazing/cool-bg.png');
    background-repeat: no-repeat;
    background-position: center top;
    border-top-color: #0d8fe3;
}

.glazing__item--cool::after {
    border-top-color: #0d8fe3;
}


.glazing__item--heat {
    background-image: url('../img/glazing/heat-bg.png');
    background-repeat: no-repeat;
    background-position: center top;
    border-top-color: #ffb903;
}

.glazing__item--heat::after {
    border-top-color: #ffb903;
}

.glazing__title {
    padding: 5px 0 10px;
    font-size: 20px;
    line-height: 2.4;
    text-transform: uppercase;
    text-align: center;
}

.glazing__title--cool {
    color: #0d8fe3;
}

.glazing__title--heat {
    color: #ffb903;
}

.glazing__item-img {
    display: block;
    margin: 0 auto;
}

.glazing__parameters {
    margin: 30px 0 40px;
    padding: 0;
    list-style: none;
}

.glazing__parameter {
    position: relative;
    padding-left: 43px;
    line-height: 2;
}

.glazing__parameter::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: #e8e8e8;
    background-image: url('../img/glazing/checked.png');
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
}

.glazing__price-wrapper {
    display: flex;
    justify-content: space-between;
}

.glazing__price {
    max-width: 160px;
    line-height: 2;
}

.glazing__price b {
    font-size: 20px;
    line-height: 1.5;
}

.glazing__button {
    width: 262px;
    margin-bottom: 50px;
    font-size: 19px;
    line-height: 3.3;
}

/*Decoration*/
.decoration__nav {
    display: flex;
    justify-content: space-between;
}

.decoration__link-wrapper {
    width: 25%;
    padding: 26px 0;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #eaeaea, rgba(0, 0, 0, 0) )1 100%;
    border-top: none;
    border-left: none;
    border-bottom: none;
}



.decoration__link {
    font-size: 20px;
    font-weight: 600;
    line-height: 2.4;
    text-transform: uppercase;
    color: #000000;
    border-bottom: 1px dotted #000000;
    transition: color 0.3s linear, border-bottom-color 0.3s linear;
}

.decoration__link:hover,
.decoration__link:focus {
    color: #666666;
    border-bottom-color: #666666;
}

.decoration__link--current,
.decoration__link--current:hover,
.decoration__link--current:focus{
    color: #0085db;
    border: none;
}


















































/*MEDIA*/
@media (max-width: 1024px) {
    /*Header*/
    .header__inner {
        padding: 10px 0;
    }

    .header__subtitle {
        display: none;
    }

    .phone__link {
        font-size: 20px;
    }

    .phone__call-back {
        font-size: 12px;
    }

    /*Intro*/
    .intro__title {
        font-size: 40px;
    }

    .intro__subtitle {
        font-size: 20px;
    }

    .intro__form {
        width: 300px;
    }

    .intro__benefits {
        display: flex;
        margin-top: 150px;
        padding-bottom: 140px;
    }

    .benefits__item {
        width: 80px;
        height: 80px;
        margin-right: 15px;
        padding-top: 30px;
        font-size: 12px;
    }

    .benefits__icon {
        bottom: 55px;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
    }

    .benefits__icon--time {
        left: 10px;
        transform: translate3d(0, 0, 0);
    }

    .benefits__icon--up {
        bottom: 55px;
    }

    /*Form*/
    .form {
        padding: 20px 25px;
    }

    .form__title {
        padding-bottom: 10px;
        font-size: 16px;
    }

    .form__title span {
        font-size: 18px;
    }

    .form__input {
        width: 100%;
        margin-bottom: 15px;

        font-size: 13px;
        line-height: 3;
    }

    .form__button {
        margin-bottom: 15px;

        font-size: 15px;
        line-height: 3;

    }


}

@media (max-width: 768px) {
    /*Header*/
    .header__inner {
        padding: 10px 0;
    }

    .header__logo {
        width: 100px;
    }

    .edit__button {
        align-items: center;
        padding: 5px 12px;
        font-size: 12px;
    }

    .edit-icon {
        margin-right: 8px;
    }

    .header__schedule,
    .phone__call-back {
        display: none;
    }

    .header__phone-icon {
        width: 30px;
        height: 30px;
        margin: 2px 10px 0 0;

        fill: #55a831;
    }

    .header__phone-icon:hover,
    .header__phone-icon:focus {
        fill: #0096dc;
    }

    .header__phone-text-wrapper {
        justify-content: center;
    }

    .phone__link {
        padding-bottom: 0;
    }

    /*Intro*/
    .intro__inner {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        min-height: 400px;
        padding-top: 10px;
        text-align: center;
    }

    .intro__title {
        font-size: 30px;
    }

    .intro__subtitle {
        font-size: 16px;
    }

    .intro__form {
        display: none;
    }

    .intro__benefits {
        justify-content: space-between;

        width: 100%;
        max-width: 400px;
        margin: auto auto 0;

        padding-bottom: 60px;
    }

    .benefits__item {
        margin-right: 0;
    }


}

@media (max-width: 600px) {
    /*Header*/
    .header__edit {
        display: none;
    }
}


@media (max-width: 420px) {
    /*Header*/
    .header__inner {
        flex-direction: column;
    }

    .header__logo {
        width: 90px;
        margin: 0 auto;
    }

    .header__phone {
        padding-top: 10px;
    }

    .header__phone-icon {
        margin: 0 10px 0 0;
        width: 20px;
        height: 20px;
    }

    /*Intro*/
    .intro__inner {
        min-height: 300px;
    }

    .intro__title {

        font-size: 22px;
    }

    .intro__subtitle--price {
        display: none;
    }

    .intro__form {
        display: block;
    }

    .intro__form {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;

        width: 100%;
    }


    .intro__benefits {
        width: 100%;
        max-width: 400px;
        padding-bottom: 30px;
    }

    .benefits__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        padding: 0;
        font-size: 10px;
    }

    .benefits__icon {
        bottom: 50px;
        left: 50%;
    }

    .benefits__icon--time {
        left: 12px;
    }

    .benefits__icon--up {
        bottom: 50px;
    }

    .benefits__icon--1 {
        width: 32px;
    }

    .benefits__icon--2 {
        width: 36px;
    }

    .benefits__icon--3 {
        width: 30px;
    }

    .benefits__icon--4 {
        width: 30px;
    }


    /*Form*/
    .form {
        padding: 20px;
    }

    .form__title {
        padding-bottom: 10px;
        font-size: 12px;
    }

    .form__title span {
        font-size: 14px;
    }


    .form__button {

        font-size: 12px;

    }


}

