.catalog__item-wrapper {
  width: 320px;
  margin: 0 auto 24px;

  border-top: 1px solid #ededed;
}

@media (max-width: $mobile-width-only) {
  .catalog__item-wrapper:last-child {
    border-bottom: 1px solid #ededed;
  }
}

.catalog__item {
  margin: 0 auto;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .catalog {
    margin: 0 auto;
    width: 708px;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catalog__item-wrapper {
    margin: 0 0 20px;

    width: 324px;

    border: none;
  }

  .catalog__item {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1220px;
  }


  .catalog__item-wrapper {
    width: 245px;
  }

}