.checkbox {
  padding-top: 9px;
  padding-bottom: 9px;
}

.checkbox__control:checked + .checkbox__label::before {
  background-image: url("../img/svg/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 21px 16px;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .checkbox {
    width: 50%;
    padding-top: 27px;
    padding-right: 50px;
    padding-bottom: 27px;
  }
}

@media (min-width: $desktop-width) {
  .checkbox {
    width: 25%;
  }
}
