.contact {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.contact__cooperation {
  flex-basis: 140px;
  padding: 10px 0 10px 0;
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  color: #111;

  text-transform: uppercase;;
}

.contact__address {
  flex-basis: 140px;
  padding: 10px 0;
  margin: 0;

  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  color: #444;
}

@media (min-width: $tablet-width) {
  .contact {
    padding: 40px 0 35px 0;
  }

  .contact__cooperation {
    flex-basis: 200px;
    padding-left: 42px;

    font-size: 20px;
    line-height: 25px;
  }

  .contact__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex-basis: 200px;
    padding-right: 42px;

    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .contact {
    position: absolute;
    top: 95px;
    left: 0;

    width: 570px;
    padding-right: 65px;
    padding-left: 55px;

    background-color: #fff;
    z-index: 1;
  }

  .contact__cooperation {
    padding-right: 0;
  }

  .contact__address {
    padding-left: 40px;
    padding-right: 0;
    text-align: left;
  }
}