.controls-group {
  padding: 11px 0;
  margin: 0 auto;

  border: none;

  &--program {
    width: 320px;
    margin: 0 auto;
    padding: 20px;

    border: 1px solid #ededed;
  }
}

.controls-group__title {
  position: relative;

  display: block;
  margin: 0;
  padding-bottom: 25px;
  padding-left: calc((100% - 280px) / 2);

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  color: #111;

  &::after {
    content: "";

    position: absolute;
    top: 15px;
    right: 0;

    display: block;
    height: 3px;

    background-color: $main-green;;
  }

  &--contacts::after {
    width: calc((100% - 280px) / 2 + 79px);
  }

  &--comment::after {
    width: calc((100% - 280px) / 2 + 138px);
  }

  &--extra::after {
    width: calc((100% - 280px) / 2 + 116px);
  }
}

.controls-group__wrapper {
  display: flex;
  flex-direction: column;

  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .controls-group {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .controls-group__wrapper {
    width: 708px;
    padding-right: 40px;
    padding-left: 40px;

    &--extra {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .controls-group--program {
    width: 628px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;

    border: 1px solid #cdcdcd;

    .controls-group__wrapper {
      width: 100%;
      padding-left: 28px;
    }
  }

  .controls-group__title {
    padding-bottom: 50px;
    padding-left: calc((100% - 708px) / 2 + 40px);

    font-size: 36px;
    line-height: 36px;

    &::after {
      top: 22px;
    }

    &--contacts {
      &::after {
        width: calc((100% - 708px) / 2 + 130px);
      }

      br {
        display: none;
      }
    }

    &--comment {
      padding-bottom: 70px;

      &::after {
        width: calc((100% - 708px) / 2 + 450px);
      }
    }

    &--extra::after {
      width: calc((100% - 708px) / 2 + 420px);
    }

    &::before {
      content: "";
      position: absolute;
      top: 22px;
      left: 0;

      display: block;
      width: calc((100% - 708px) / 2);
      height: 3px;

      background-color: $main-green;
    }
  }
}

@media (min-width: $desktop-width) {
  .controls-group__wrapper {
    width: 1220px;
    padding-right: 0;
    padding-left: 0;

    &--contacts {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .controls-group {
    &--personal-info {
      padding-top: 0;
      padding-bottom: 0;

      .controls-group__wrapper {
        width: 570px;
        padding-right: 0;
        padding-left: 0;
      }
    }

    &--program {
      width: auto;
      padding-top: 13px;
      padding-bottom: 13px;
      margin-right: 0;
      margin-left: 0;

      .controls-group__wrapper {
        width: 570px;
        padding-right: 0;
      }
    }
  }

  .controls-group__title {
    padding-left: calc((100% - 1220px) / 2);

    &::before {
      width: calc(((100% - 1220px) / 2) - 40px);
    }

    &--contacts::after {
      width: calc((100% - 1220px) / 2 + 675px);
    }

    &--comment::after {
      width: calc((100% - 1220px) / 2 + 1000px);
    }

    &--extra::after {
      width: calc((100% - 1220px) / 2 + 975px);
    }
  }
}
