.form {
  padding-bottom: 30px;
}

.form__bottom-wrapper {
  width: 280px;
  margin: 0 auto;

  text-align: center;
}

.form__button {
  margin-top: 20px;
  margin-bottom: 16px;
}

.form__legend {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  color: #444;
}

@media (min-width: $tablet-width) {
  .form {
    padding-bottom: 60px;
  }

  .form__top-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 511px;
    margin-bottom: 38px;
  }

  .form__bottom-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 708px;
    padding: 10px 40px;
  }

  .form__button {
    margin-top: 0;
    margin-right: 50px;
    margin-bottom: 0;
  }

  .form__legend {
    padding: 10px;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding-bottom: 70px;
  }

  .form__top-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
    min-height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .form__bottom-wrapper {
    width: 1220px;
    padding-right: 0;
    padding-left: 0;
  }

  .form__button {
    margin-right: 70px;
  }
}
