.gift {
  position: relative;

  &::before {
    position: absolute;
    content: "";

    top: 65px;
    left: 112px;

    width: 55px;
    height: 60px;

    background-image: url(../img/svg/icon-gift.svg);
    background-repeat: no-repeat;
  }
}

.gift__text {
  width: 162px;

  padding-top: 190px;
  margin: 0 auto;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;

  color: #fff;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .gift {
    &::before {
      top: 65px;
      left: 91px;
    }
  }

  .gift__text {
    padding-top: 75px;
    margin-right: 125px;

    width: 160px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .gift {
    &::before {
      left: 96px;
    }
  }

  .gift__text {
    padding-top: 190px;
    margin: 0 auto;
    width: 169px;

    text-align: center;
  }
}