.input {
  display: flex;
  align-items: center;
  padding: 8px 0;

  &--icon {
    position: relative;
  }
}

.input__control {
  flex-grow: 1;
  padding: 13px 0 13px 15px;

  font-family: $main-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;

  color: #444;

  text-transform: uppercase;

  border: none;

  outline: 1px solid rgba(205, 205, 205, 0.5);

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444;
  }

  &:not(:placeholder-shown):invalid {
    outline: 2px solid #ff8282;
  }

  &--icon {
    padding-right: 35px;

    &:focus + svg {
      fill: $main-green;
    }

    &:not(:placeholder-shown):invalid + svg {
      fill: #ff8282;
    }
  }

  &--textarea {
    height: auto;
    resize: vertical;
  }
}

.input__email-icon {
  position: absolute;
  top: calc(50% - 7px);
  right: 15px;

  fill: #222;
}

.input__phone-icon {
  position: absolute;
  top: calc(50% - 10px);
  right: 12px;

  fill: #222;
}


@media (min-width: $tablet-width) {
  .input {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .input__control {
    padding: 11px 18px;

    font-size: 20px;
    line-height: 20px;

    &--icon {
      padding-right: 38px;
    }

    &::placeholder {
      font-size: 20px;
      line-height: 25px;
    }
  }
}

@media (min-width: $desktop-width) {
  .input {
    &--first {
      padding-top: 0;
    }

    &--last {
      padding-bottom: 0;
    }

    &--contact {
      width: 570px;
    }
  }
}
