.main-header__title {
  margin: 21px 0 21px 0;

  font-family: $main-font;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.main-header__subtitle {
  margin: 15px 0;
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-header__title {
    margin-top: 45px;
    margin-bottom: 40px;

    font-size: 60px;
  }

  .main-header__subtitle {
    padding-left: 40px;

    font-size: 20px;
    line-height: 30px;
  }

}

@media (min-width: $desktop-width) {
  .main-header__subtitle {
    margin-bottom: 40px;
  }
}