.product__item {
  padding: 10px 0 17px;

  border-top: 1px solid #cdcdcd;
}

.product__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.product__title {
  margin: 0 0 10px;

  font-size: 16px;
  line-height: 16px;

  font-weight: 400;

  text-transform: uppercase;
}

.product__info {
  width: 100%;
  margin-bottom: 10px;

  tr {
    display: flex;
    justify-content: space-between;
  }

  .product__volume,
  .product__price {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 14px;

    color: #444;
  }
}

.product__button {
  padding: 10px 0;
}

@media (min-width: $tablet-width) {
  .product__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 37px 27px;

    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }

  .product__title {
    width: 400px;

    font-size: 20px;
    line-height: 20px;
  }

  .product__info {
    width: 225px;
    margin-left: auto;

    .product__volume,
    .product__price {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .product__button {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .product__item {
    width: 895px;
    padding: 15px 0;

    flex-wrap: nowrap;
    align-items: center;

    border-right: none;
    border-left: none;
  }

  .product__title {
    width: 285px;
    margin: 0;
  }

  .product__info {
    width: 285px;
    margin: 0 auto;
  }

  .product__button {
    width: 245px;
  }

}