.radio {
  padding-top: 9px;
  padding-bottom: 9px;
}

.radio__control:checked + .radio__label::before {
  background-color: $main-green;
}

@media (min-width: $tablet-width) {
  .radio {
    padding-top: 16px;
    padding-bottom: 15px;
  }
}

@media (min-width: $desktop-width) {
  .radio {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
