.slides {
  position: relative;

  width: 320px;
  height: 240px;
}

@media (min-width: $tablet-width) {
  .slides {
    width: 690px;
    height: 517px;
  }
}

@media (min-width: $desktop-width) {
  .slides {
    width: 1220px;
    padding-left: 570px;
  }
}
