.social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  list-style: none;
}

.social__item {
  padding: 6px 18px;
}

.social__link {
  display: flex;
  align-items: center;
}

.social__icon {
  fill: #666666;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: $main-green;
}

.social__link:active .social__icon {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
  }

  .social__list {
    padding: 20px 15px;
  }

  .social__icon {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--inst {
      width: 23px;
      height: 23px;
    }

    &--facebook {
      width: 14px;
      height: 28px;
    }
  }
}