/*-----Fonts------*/
@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald-Regular.woff) format('woff'),
    url('../fonts/Oswald-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald-Medium.woff) format('woff'),
    url('../fonts/Oswald-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald-SemiBold.woff) format('woff'),
    url('../fonts/Oswald-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-SemiBold';
    src: url(../fonts/Oswald-Bold.woff) format('woff'),
    url('../fonts/Oswald-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/*-----Global Styles-----*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-style: normal;

    line-height: 1.2;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul, ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}

.button {
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;

    color: #ffffff;
}

.button:hover,
.button:focus {
    color: rgba(255, 255, 255, 0.8);
}

.button:active {
    color: rgba(255, 255, 255, 0.5);
}

.button--blue {
    background-color: #1669b3;
}

.button--blue:hover,
.button--blue:focus {
    background-color: #08579d;
}

.button--blue:active {
    background-color: #0b2b48;
}

.button--yellow {
    background-color: #f7b516;
}

.phone-number {
    font-size: 18px;
    font-weight: 700;
}

.section__title {
    margin: 0;

    font-size: 36px;
    font-weight: 700;

    text-align: center;

    color: #ffffff;
}

.section__subtitle {
    margin: 0 auto;

    font-size: 20px;

    text-align: center;

    color: #ffffff;
}


/*Header*/
.header {
    background-color: #000000;
}

.header__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 25px 0;
}

.header__logo {
    margin-right: auto;
}

.timetable {
    width: 170px;

    font-size: 12px;
    line-height: 24px;

    color: #ffffff;

    text-align: center;
}

.timetable--time {
    font-weight: 600;
}

.header__button {
    display: block;
    width: 170px;
    margin-left: 28px;

    line-height: 50px;

    text-align: center;
}

.phone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;

    width: 172px;
    height: 50px;

    margin-left: 130px;

    color: #fff;
}

/*Main*/
/*Intro*/
.intro {
    background-image: url(../img/index-background.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.intro__wrapper {
    width: 570px;
    padding: 85px 100px;

    background-color: #f7b516;
}

.intro__title {
    margin: 0;

    font-size: 40px;
    font-weight: 700;
    line-height: 55px;

    text-transform: uppercase;
}

.intro__subtitle {
    display: block;
    width: 300px;
    margin-top: 33px;

    font-size: 25px;
    font-weight: 600;

    line-height: 30px;
}

.intro__list {
    flex-direction: column;
    padding-top: 95px;
}

.intro__item {
    position: relative;

    padding-left: 51px;
    padding-bottom: 43px;

    font-size: 18px;
    line-height: 21px;
}

.intro__item::before {
    content: "";

    position: absolute;
    left: 0;
}

.intro__item--bank::before {
    top: 5px;

    width: 25px;
    height: 38px;

    background: url("../img/svg/bank.svg") no-repeat;
}

.intro__item--delivery::before {
    top: 8px;

    width: 30px;
    height: 24px;

    background: url("../img/svg/delivery-truck.svg") no-repeat;
}

.intro__item--calendar::before {
    top: 6px;

    width: 30px;
    height: 30px;

    background: url("../img/svg/calendar.svg") no-repeat;
}

.intro__item--medal::before {
    top: 6px;

    width: 23px;
    height: 30px;

    background: url("../img/svg/medal.svg") no-repeat;
}

/*Price*/
.price {
    background-image: url("../img/bg-belaz-2.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.price__wrapper {
    padding-top: 92px;
    padding-bottom: 98px;
}

.price__proposal {
    display: block;
    margin-left: 700px;

    padding-right: 17px;

    font-size: 30px;
    font-weight: 700;
    line-height: 36px;

    text-align: right;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.price__form {
    margin-left: 370px;
    padding: 57px 18px 0 12px;
}

.input {
    box-sizing: border-box;

    width: 370px;
    padding: 27px 50px 27px 31px;

    border: none;

    background-color: #f2f2f2;
}

.input:focus {
    outline: 1px solid #818181;
}

.input,
.input::placeholder {
    font-size: 13px;
    line-height: 16px;
    color: #818181;

    text-transform: uppercase;
}

.form__label {
    position: relative;
}

.email-icon,
.tel-icon {
    position: absolute;

    top: 26px;
    right: 30px;

    fill: #818181;

    cursor: pointer;
}

.email-icon:hover,
.tel-icon:hover {
    fill: #000000;
}

.form__text {
    position: relative;
    box-sizing: border-box;
    width: 370px;
    margin-top: 30px;
    padding: 23px 58px 23px 124px;

    font-size: 14px;
    line-height: 16px;
    font-weight: 400;

    text-align: right;
}

.form__text::after {
    content: "";

    position: absolute;

    top: 25px;
    right: 0;

    width: 30px;
    height: 30px;

    background: url("../img/svg/clock.svg") no-repeat;
}

.input__button {
    box-sizing: border-box;

    width: 370px;
    height: 80px;
    margin-top: 30px;
    padding: 0;
    font-size: 17px;

    border: none;

    cursor: pointer;
}

/*Features*/
.features {
    padding: 93px 0 97px;
    background-color: #08243e;
}

.features .section__subtitle {
    margin: 0 auto;
    padding: 25px 0 95px;

    line-height: 24px;
}

.features__item {
    box-sizing: border-box;

    width: 270px;

    padding-top: 145px;

    font-size: 18px;
    line-height: 22px;

    text-align: center;

    color: #fff;
}

.features__item--engine {
    background-image: url('../img/engine.png');
    background-repeat: no-repeat;
    background-size: 95px 100px;
    background-position: center 0;
}

.features__item--truck {
    background-image: url('../img/dump-truck.png');
    background-repeat: no-repeat;
    background-size: 100px 88px;
    background-position: 79px 13px;
}

.features__item--calendar {
    background-image: url('../img/calendar.png');
    background-repeat: no-repeat;
    background-size: 100px 93px;
    background-position: 87px 4px;
}

.features__item--map {
    background-image: url('../img/map-icon.png');
    background-repeat: no-repeat;
    background-size: 95px 92px;
    background-position: 81px 5px;
}


/*Search*/
.search {
    padding: 94px 0 80px;
    background-image: url("../img/bg-belaz-3.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.search .section__title {
    font-size: 30px;
}

.search .section__subtitle {
    margin: 0 auto;
    padding: 25px 0 50px;
}

.search .section__subtitle span {
    text-transform: uppercase;
}

.search .input__button {
    height: 70px;
    margin-top: 0;
}

.search__text,
.search__phone-text {
    margin: 0 auto;
    padding-top: 59px;

    font-size: 18px;

    color: #fff;

    text-align: center;
}

.search__phone-text {
    padding-top: 26px;
}

.search__phone {
    margin: 10px auto 0;

    text-align: center;
}

.search__phone .phone-number {
    font-size: 30px;
    font-weight: 600;
    margin: 0 auto;

}

.search .phone {
    width: auto;

    text-align: center;
}

/*Guarantee*/
.guarantee {
    padding-bottom: 102px;
}

.guarantee .section__title {
    width: 680px;
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 96px;

    line-height: 43px;

    color: #000000;
}

.guarantee__item {
    width: 370px;

    text-align: center;
}

.guarantee__text {
    padding-top: 15px;
    padding-bottom: 16px;

    font-size: 18px;
}

.guarantee__link {
    font-size: 18px;
    font-weight: 600;

    text-transform: uppercase;

    color: #000000;

    border-bottom: 1px solid #8f8f8f;
}

.guarantee__link:hover {
    border-bottom: 1px solid #ff0000;
}

.guarantee__link:active {
    color: rgba(0, 0, 0, 0.75);
    border-bottom: 1px dotted #000000;
}

/*Bonuses*/
.bonuses {
    padding-top: 93px;
    padding-bottom: 98px;

    background-color: #08243e;
}

.bonuses .section__title {
    width: 680px;
    margin: 0 0 0 241px;
    padding-bottom: 97px;
}

.bonus__item {
    position: relative;

    width: 270px;
    padding-top: 136px;

    font-size: 18px;
    line-height: 21px;

    color: #fff;

    text-align: center;
}

.bonus__item::before {
    position: absolute;
    content: "";

    top: 0;
    left: 86px;

    display: block;

    width: 100px;
    height: 100px;

    border: 2px solid #ffffff;
    border-radius: 50%;
}

.bonus__item--sale::after,
.bonus__item--year-sale::after,
.bonus__item--delivery::after,
.bonus__item--support::after {
    position: absolute;
    content: "";

    top: 33px;
    left: 111px;

    font-size: 30px;
    font-weight: 600;

    color: #fff;
}

.bonus__item--sale::after {
    content: "10%";
    top: 39px;
}

.bonus__item--year-sale::after {
    content: "20%";
    top: 39px;
}

.bonus__item--delivery::after {
    left: 109px;

    width: 56px;
    height: 33px;

    background: url(../img/delivery-truck.png) no-repeat;
}

.bonus__item--support::after {
    top: 30px;
    left: 118px;

    width: 35px;
    height: 39px;

    background: url(../img/telemarketer.png) no-repeat;
}


/*Asks*/
.asks {
    padding-top: 92px;
    padding-bottom: 101px;
    background-color: #0b3554;
}

.asks .section__title {
    color: #fff;
}

.asks .section__subtitle {
    width: 330px;
    padding-top: 25px;
    padding-bottom: 98px;
}

.asks__list {
    flex-direction: column;
    justify-content: flex-start;
    list-style: decimal inside;
}

.asks__item {
    margin-bottom: 50px;

    font-size: 16px;
    font-weight: 600;
    line-height: 18px;

    color: #fff;
}

.asks__item span {
    margin-left: 29px;
    border-bottom: 1px solid #678194;
}

.asks__item span:hover {
    color: #579eff;
    border-bottom: none;

    cursor: pointer;
}

.asks__item--more {
    position: relative;

    margin-bottom: 0;
}

.asks__item--more::before {
    position: absolute;

    content: "";

    top: -1px;
    left: 0;

    width: 18px;
    height: 20px;

    background: url('../img/svg/reload.svg') no-repeat;
}


.asks__item--more span {
    margin-left: 42px;

    font-size: 14px;
}

.asks__inner {
    display: flex;
    justify-content: space-between;
}

.img__wrapper {
    position: relative;
    align-self: flex-start;

    max-height: 390px;
}

.img-description {
    position: absolute;

    left: 0;
    bottom: 0;


    width: 230px;
    height: 53px;

    padding: 10px 29px 10px 19px;
    font-size: 14px;

    color: #fff;

    background-color: rgba(34, 77, 112, 0.6);
}


/*Process*/
.process {
    padding: 92px 0 95px;
}

.process .section__title {
    color: #000000;
}

.process .section__subtitle {
    width: 508px;
    padding-top: 24px;
    padding-bottom: 98px;

    color: #000000;
}

.process__item {
    position: relative;

    width: 370px;
    padding-top: 134px;

    font-size: 18px;
    line-height: 21px;

    text-align: center;
}

.process__item--step1,
.process__item--step2,
.process__item--step3 {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 88px 88px;
}

.process__item--step1 {
    background-image: url(../img/pay.png);
}

.process__item--step2 {
    background-image: url(../img/send.png);
    background-size: 87px 87px;
}

.process__item--step3 {
    background-image: url(../img/pay2.png);
}

/*Gallery*/
.gallery {
    padding: 92px 0 100px;
    background-color: #0b3554;
}

.gallery .section__title {
    color: #fff;
}

.gallery .section__subtitle {
    width: 650px;
    padding-top: 25px;
    padding-bottom: 96px;

    font-size: 20px;

    text-align: center;
}

.gallery__list {
    position: relative;

    display: flex;
    justify-content: space-between;

    height: 270px;
}

.arrow-previous,
.arrow-next {
    position: absolute;

    top: 120px;

    display: block;

    width: 19px;
    height: 30px;

    fill: #fff;

    cursor: pointer;
}

.arrow-previous {
    left: 30px;

    transform: rotate(180deg);
}

.arrow-next {
    right: 28px;
}

.arrow-previous:hover,
.arrow-next:hover {
    fill: #000;
}

.arrow-previous:active,
.arrow-next:active {
    fill: #0b3554;
}


/*Services*/
.services {
    padding: 91px 0 99px;
}

.services .section__title {
    width: 830px;
    margin: 0 auto;
    padding-bottom: 98px;

    line-height: 43px;

    color: #000000;
}

.services__item {
    position: relative;

    width: 370px;
    padding-top: 206px;

    font-size: 18px;

    line-height: 21px;

    text-align: center;
}

.services__item::before {
    position: absolute;
    content: "";

    top: 0;
    left: 100px;

    display: block;
    width: 170px;
    height: 170px;

    border: 5px solid #ffbc3b;
    border-radius: 50%;
}

.services__item--delivery,
.services__item--toolbox,
.services__item--certificate {
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-size: 70px 57px;
}

.services__item--delivery {
    background-image: url(../img/delivery.png);
}

.services__item--toolbox {
    background-image: url(../img/toolbox-img.png);
}

.services__item--certificate {
    background-image: url(../img/certificate.png);
    background-size: 77px 57px;
}

/*Consultation*/
.consultation {
    padding: 93px 0 99px;

    background-image: url("../img/bg-belaz-4.jpg");
    background-repeat: no-repeat;
}

.consultation .section__title {
    font-size: 30px;
    color: #fff;
}

.consultation .phone-text {
    margin: 0 auto;
    padding-top: 40px;

    font-size: 18px;

    color: #fff;

    text-align: center;
}

.consultation .phone {
    width: auto;
    margin-left: 0;
    margin-bottom: 50px;
}

.consultation .phone .phone-number {
    padding-top: 10px;
    margin: 0 auto;

    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
}

.consultation__form {
    width: 770px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.consultation__form .input__button {
    margin: 0;
    height: 70px;
}

/*Address*/
.address {
    padding-top: 93px;
    padding-bottom: 79px;

    background-image: url(../img/bg-belaz-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.address .section__title {
    font-size: 30px;

    color: #000000
}

.address__text {
    margin: 0 auto;
    padding-top: 95px;
    padding-bottom: 29px;

    font-size: 18px;

    text-align: center;
}

.address .phone {
    width: auto;
    margin-left: 0;

    text-align: center;
}

.address .phone .phone-number {
    margin: 0 auto;
    font-size: 24px;
    font-weight: 600;
    color: #000;
}

/*Map*/
.map {
    height: 375px;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
}

/*Footer*/
.footer {
    padding: 40px 0;

    color: #ffffff;

    background-color: #000000;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__phone {
    text-align: right;
}

.footer__phone-text {
    font-size: 13px;
}

.footer__phone .phone-number {
    display: block;
    padding-top: 5px;
    font-size: 18px;
}

.copyright {
    padding: 13px 40px 13px 40px;
    font-size: 12px;
    line-height: 14px;

    text-transform: uppercase;
}

