.carousel__inner {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.carousel__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  .carousel__img {
    display: inline-block;
  }
}


