.phone {
  display: flex;
  align-items: center;

}

.phone__icon {
  margin-right: 13px;
}

.phone__text {
  font-size: 12px;
  font-weight: 300;

  color: #ffffff;
}

.phone__link {
  font-size: 21px;
  font-weight: 500;
  color: #fff;
}

@media (max-width: 1024px) {
  .phone__text {
    font-size: 12px;
    //font-weight: 300;
    //
    //color: #ffffff;
  }

  .phone__link {
    font-size: 18px;
    //font-weight: 500;
    //color: #fff;
  }


}

@media (max-width: 420px){
  .phone__icon {
    //margin-right: 13px;
    display: none;
  }

  .phone__text {
    display: none;
    //font-size: 12px;
    //font-weight: 300;
    //
    //color: #ffffff;
  }

  .phone__link {
    font-size: 14px;
  }
}