/*Fonts
===============================*/
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Light.woff2') format('woff2'),
    url('../fonts/SourceSansPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Big John';
    src: url('../fonts/BigJohn-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


/*Global Styles
=========================================*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;

    line-height: 1.8;

    color: #81868e;
}

a {
    text-decoration: none;
}

/*img {*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*}*/

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/*Section
=========================*/
.section {
    padding: 80px 0 90px;
}

.section--gray {
    background-color: #f3f3f3;

}

.section__title {
    font-family: "Source Sans Pro", serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.2em;

    text-transform: uppercase;

    text-align: center;
}

.section__subtitle {
    max-width: 460px;
    margin: 0 auto;
    padding: 30px 0 50px;

    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.05em;


    text-align: center;
}

/*Icons
===============================*/
.icon__item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 52px;
    height: 52px;
    background-color: #81868e;

    border-radius: 50%;
    cursor: pointer;
}

.icon__item:hover {
    background-color: #19bd9a;
}

/*Button
==============================*/
.button {
    padding: 9px 30px;

    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.1em;
    background: transparent;

    border-radius: 18px;

    cursor: pointer;
    transition: color 0.3s linear;

    outline: none;
}

.button:hover,
.button :focus {
    color: rgba(99, 96, 96, 1);
}

.button:active {
    color: rgba(99, 96, 96, 0.7);
}

/*Header
=============================*/
.header {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding-top: 40px;
    z-index: 2;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.header__logo {
    font-family: 'Big John', sans-serif;
    font-size: 25px;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 0;

    color: #ffffff;
    transition: opacity 0.2s linear;
}

.header__logo:hover {
    opacity: 0.7;
}

/*Nav*/
.nav {
    font-size: 16px;
    line-height: 1;
}

.nav__link {
    display: inline-block;
    vertical-align: middle;
    padding: 8px 22px;
    color: #ffffff;

    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 17px;

    transition: opacity 0.2s linear,
    border-top-color 0.2s linear,
    border-bottom-color 0.2s linear,
    border-right-color 0.2s linear,
    border-left-color 0.2s linear;
}

.nav__link:hover,
.nav__link:focus {
    border: 1px solid rgba(255, 255, 255, 1);
}

.nav__link:active {
    opacity: 0.7;
}


/*Intro
=============================*/
.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;

    background: url("../img/intro-bg.jpg") center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 630px;
    margin: 0 auto;

    color: #ffffff;
}

.intro__title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
}

.intro__subtitle {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05em;

    text-align: center;
}

.intro__link {
    position: absolute;
    left: calc(50% - 18px);
    bottom: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;
    background-color: #19bd9a;

    border-radius: 50%;
    transition: background-color 0.3s linear;
}

.intro__link:hover,
.intro__link:focus {
    background: #148bd0;
}

.intro__link:focus {
    background: rgba(20, 139, 208, 0.7);
}

.intro__link-img {
    display: block;
    width: 12px;
    height: 7px;
}


/*About-us
======================================*/
.about-us__inner {
    display: flex;
    justify-content: space-between;
    padding: 80px 160px 56px;
}

.about-us__title {
    font-family: "Source Sans Pro", serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 3;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.about-us__text {
    max-width: 470px;
    letter-spacing: 0.05em;
}

.about-us__button {
    margin-top: 50px;
    color: #333b46;
    border: 1px solid #333b46;
}

.about-us__button:hover,
.about-us__button :focus {
    color: #19bd9a;
}

.about-us__button:active {
    color: rgba(24, 198, 161, 0.7);
}


/*Details
===================================*/
.details {
    padding: 0 70px;
}

.details__icons {
    display: flex;
    justify-content: center;
}

.details__icon {
    margin: 0 13px;
}

.details__title {
    font-size: 20px;
    font-weight: 400;

    line-height: 5;
    letter-spacing: 0.04em;

    color: #464646;
}

.details__text-wrapper {
    display: flex;
    justify-content: space-between;
}

.details__text--first-column {
    width: 40%;
    max-width: 332px;
    margin-right: 100px;
}

.details__text--second-column {
    width: 60%;
    max-width: 598px;
    padding-right: 30px;
}

.details__text {
    font-size: 16px;
    letter-spacing: 0.05em;
}

.text--green {
    font-weight: 700;
    color: #19bd9a;
}


/*Features
===================================*/
.section--features {
    padding-bottom: 0;
}

.features {
    display: flex;
    flex-wrap: wrap;
}

.feature__item {
    position: relative;
    width: 16.666667%;
    height: 320px;
    overflow: hidden;
    flex-shrink: 1;

    cursor: pointer;
    transition-duration: 0.5s;
}


.feature__img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;

    height: 320px;

    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.feature__content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;

    background-color: rgba(0, 0, 0, 0.85);
    transition: opacity 0.2s linear;
}

.feature__title {
    font-family: "Source Sans Pro", serif;
    font-size: 20px;
    font-weight: 400;

    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.2em;

    color: #ffffff;
}

.feature__item:hover .feature__content {
    opacity: 0;
}

.features__footer {
    position: relative;
    background-image: url("../img/features/features-bg.jpg");
    background-position: center;
    background-size: cover;
}

.features__footer .container {
    position: relative;
}

.features__footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(11, 209, 167, 0.85);
}

.features__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 40px 70px;

    z-index: 2;
}

.features__text {
    font-size: 20px;
    line-height: 1.3;
    color: #ffffff;
}

.features__button {
    color: #ffffff;
    border: 1px solid #ffffff;
}


/*Our Services
====================================*/
.services {
    display: flex;
    justify-content: space-between;

    padding: 0 70px;
}

.services__icon {
    margin: 9px 0;
}

.service__content {
    max-width: 450px;
    padding-left: 45px;
}

.service__title {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}

.service__text {
    margin: 16px 0;
    font-size: 16px;
}

.diagrams {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.diagram__item {
    position: relative;
    width: 124px;
    margin-left: 20px;
    margin-right: 20px;
}

.diagram__image {
    position: absolute;
}

.diagram__value {
    padding-top: 48px;
    font-size: 25px;
    line-height: 1;
    text-align: center;
    z-index: 2;
}

.diagram__title {
    margin-top: 70px;
    font-size: 16px;
    line-height: 1;
    text-align: center;
}


/*Quotes
=================================*/
.quotes {
    padding-bottom: 95px;
    padding-left: 20px;
    padding-right: 20px;

    background-color: #1f1f1f;
    background-image: url("../img/quotes-bg.jpg");
    background-position: center 0;
    background-size: cover;
}

.quotes__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.quotes__img-wrapper {
    margin-top: -38px;
}

.quotes__title {
    padding-top: 70px;
    padding-bottom: 30px;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 300;

    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.quotes__text {
    width: 100%;
    max-width: 600px;
    padding-bottom: 20px;

    font-size: 16px;
    letter-spacing: 0.05em;
}

.quotes__author {
    font-size: 14px;
    text-transform: uppercase;
}

.quotes__author .text--green {
    font-weight: 400;
}


/*portfolio
================================*/
.portfolio__nav {
    display: flex;
    justify-content: space-between;

    max-width: 570px;
    margin: 0 auto 70px;
}

.portfolio__nav-link {
    position: relative;
    font-size: 16px;
    color: rgba(70, 70, 70, 1);
}

.portfolio__nav-link::after {
    content: "";
    position: absolute;
    display: block;
    width: 70%;
    height: 2px;
    margin: 0 auto;
    bottom: -10px;
    left: 15%;
    border-top: 1px solid #19bd9a;
    border-bottom: 1px solid #8ddac9;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.portfolio__nav-link:hover:after {
    opacity: 1;
}


/*MEDIA*/
@media (max-width: 1600px) {
    /*features*/
    .features {
        max-width: 1300px;
        margin: 0 auto;
    }

    .feature__item {
        width: 33.33333%;
    }
}

@media (max-width: 1024px) {

    /*about-us*/
    .about-us__inner {
        padding: 50px 60px;
    }

    .about-us__text {
        padding-right: 15px;
    }

    /*details*/
    .details {
        padding: 0 30px;
    }

    .details__text--first-column {
        margin-right: 50px;
    }

    .details__text--second-column {
        padding-right: 0;
    }

    /*features*/
    .features__content {
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 20px;
        padding-left: 20px;
    }

    .features__text {
        width: 100%;
        text-align: center;
    }

    .features__button {
        margin-top: 20px;
    }

    /*services*/
    .services {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 25px;
    }

    .service__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 550px;
        padding-left: 25px;
    }

    .diagrams {
        margin: 20px auto 0;
    }


    /*quotes*/
    .quotes__img-wrapper {
        width: 330px;
    }

    .quotes__img-wrapper img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 900px) {
    /*features*/
    .features {
        max-width: 100%;
    }

    .feature__item {
        width: 50%;
    }
}


@media (max-width: 767px) {
    /*section*/
    /*about-us*/
    .about-us__inner {
        flex-direction: column;
        padding: 30px 10px;
    }

    .about-us__text-wrapper {
        text-align: center;
        order: 2;
    }

    .about-us__img-wrapper {
        order: 1;
        text-align: center;
    }

    .about-us__text {
        max-width: 100%;
        padding: 0 10px;
    }

    /*details*/
    .details {
        padding: 0 10px;
    }

    .details__title {
        text-align: center;
    }

    .details__text-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .details__text--first-column {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0 10px;

    }

    .details__text--second-column {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 20px 10px 0;
    }

    .details__text {
        font-size: 14px;
    }

    /*services*/
    .services__icon {
        display: flex;
        justify-content: center;
        margin: 0 10px 15px;
    }

    .services {
        padding: 0 15px;
    }

    .service__content {
        max-width: 100%;
        padding: 0 15px;
        text-align: center;
    }

    .diagrams {
        margin: 20px auto 0;
    }

    /*quotes*/
    .quotes__inner {
        flex-direction: column;
    }

    .quotes__img-wrapper {
        order: 1;
        width: auto;
        margin: -38px auto 10px;
    }

    .quotes__content {
        order: 2;
    }

    .quotes__img-wrapper img {
        max-width: 100%;
        height: auto;
    }

}


@media (max-width: 520px) {
    /*features*/
    .feature__item {
        width: 100%;
    }

    .features__content {
        padding: 20px 10px;
    }

    .features__text {
        font-size: 14px;
    }

    .features__button {
        margin-top: 20px;
    }

    /*services*/
    .services__icon {
        margin: 0 10px 10px;
    }

    .services {
        padding: 0 10px;
    }

    .service__text {
        font-size: 14px;
    }

    .diagrams {
        flex-direction: column;
        margin: 20px auto 0;
    }

    .diagram__item {
        margin-bottom: 30px;
    }

    .diagram__item:last-child {
        margin-bottom: 0;
    }

    /*quotes*/
    .quotes__img-wrapper {
        max-width: 300px;
    }

    .quotes__content {
        text-align: center;
    }

    .quotes__text {
        font-size: 14px;
    }
}





