/*Fonts
===============================*/
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Light.woff2') format('woff2'),
    url('../fonts/SourceSansPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Big John';
    src: url('../fonts/BigJohn-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


/*Global Styles
=========================================*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;

    line-height: 1.8;

    color: #81868e;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/*Section
=========================*/
.section {
    padding: 80px 0 90px;

    background-color: #f3f3f3;
}

.section--gray {
    background-color: #f3f3f3;

}

.section__title {
    font-family: "Source Sans Pro", serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.2em;

    text-transform: uppercase;

    text-align: center;
}

.section__subtitle {
    max-width: 460px;
    margin: 0 auto;
    padding: 30px 0 50px;

    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.05em;


    text-align: center;
}

/*Icons
===============================*/
.icon__item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 52px;
    height: 52px;
    background-color: #81868e;

    border-radius: 50%;
    cursor: pointer;
}

.icon__item:hover {
    background-color: #19bd9a;
}


/*Header
=============================*/
.header {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding-top: 40px;
    z-index: 2;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.header__logo {
    font-family: 'Big John', sans-serif;
    font-size: 25px;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 0;

    color: #ffffff;
    transition: opacity 0.2s linear;
}

.header__logo:hover {
    opacity: 0.7;
}

/*Nav*/
.nav {
    font-size: 16px;
    line-height: 1;
}

.nav__link {
    display: inline-block;
    vertical-align: middle;
    padding: 8px 22px;
    color: #ffffff;

    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 17px;

    transition: opacity 0.2s linear,
    border-top-color 0.2s linear,
    border-bottom-color 0.2s linear,
    border-right-color 0.2s linear,
    border-left-color 0.2s linear;
}

.nav__link:hover,
.nav__link:focus {
    border: 1px solid rgba(255, 255, 255, 1);
}

.nav__link:active {
    opacity: 0.7;
}


/*Intro
=============================*/
.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;

    background: url("../img/intro-bg.jpg") center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 630px;
    margin: 0 auto;

    color: #ffffff;
}

.intro__title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
}

.intro__subtitle {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05em;

    text-align: center;
}

.intro__link {
    position: absolute;
    left: calc(50% - 18px);
    bottom: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;
    background-color: #19bd9a;

    border-radius: 50%;
    transition: background-color 0.3s linear;
}

.intro__link:hover,
.intro__link:focus {
    background: #148bd0;
}

.intro__link:focus {
    background: rgba(20, 139, 208, 0.7);
}

.intro__link-img {
    display: block;
    width: 12px;
    height: 7px;
}


/*About-us
======================================*/
.about-us__inner {
    display: flex;
    justify-content: space-between;
    padding: 80px 160px 56px;
}

.about-us__title {
    font-family: "Source Sans Pro", serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 3;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.about-us__text {
    max-width: 470px;
    letter-spacing: 0.05em;
}

.about-us__button {
    margin-top: 50px;
    padding: 9px 35px;

    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.1em;

    color: #333b46;

    background: transparent;
    border: 1px solid #333b46;
    border-radius: 18px;

    cursor: pointer;
    transition: color 0.3s linear;

    outline: none;
}

.about-us__button:hover,
.about-us__button :focus {
    color: #19bd9a;
}

.about-us__button:active {
    color: rgba(24, 198, 161, 0.7);
}


/*Details
===================================*/
.details {
    padding: 0 70px;
}

.details__icons {
    display: flex;
    justify-content: center;
}

.details__icon {
    margin: 0 13px;
}

.details__title {
    font-size: 20px;
    font-weight: 400;

    line-height: 5;
    letter-spacing: 0.04em;
    color: #464646;
}

.details__text-wrapper {
    display: flex;
    justify-content: space-between;
}

.details__text--first-column {
    width: 40%;
    max-width: 332px;
    margin-right: 100px;
}

.details__text--second-column {
    width: 60%;
    max-width: 598px;
    padding-right: 30px;
}


.details__text {
    font-size: 16px;
    letter-spacing: 0.05em;
}

.details__text--green {
    color: #19bd9a;
}


/*MEDIA*/
@media (max-width: 1024px) {

    /*about-us*/
    .about-us__inner {
        padding: 50px 60px;
    }

    .about-us__text {
        padding-right: 15px;
    }

    /*details*/
    .details {
        padding: 0 30px;
    }

    .details__text--first-column {
        margin-right: 50px;
    }

    .details__text--second-column {
        padding-right: 0;
    }


}


@media (max-width: 767px) {
    /*section*/
    /*about-us*/
    .about-us__inner {
        flex-direction: column;
        padding: 30px 10px;
    }

    .about-us__text-wrapper {
        text-align: center;
        order: 2;
    }

    .about-us__img-wrapper {
        order: 1;
        text-align: center;
    }

    .about-us__text {
        max-width: 100%;
        padding: 0 10px;
    }

    /*details*/
    .details {
        padding: 0 10px;
    }

    .details__title {
        text-align: center;
    }

    .details__text-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .details__text--first-column {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0 10px;

    }

    .details__text--second-column {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 20px 10px 0;
    }
}





