/*FONTS
====================================*/
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Light.woff2') format('woff2'),
    url('../fonts/ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Extrabld.woff2') format('woff2'),
    url('../fonts/ProximaNova-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/*GLOBAL STYLES
================================*/
html,
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 300;
    font-style: normal;

    letter-spacing: 0.01em;

    color: #1c1c1c;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ol {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.container {
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

.container--relative {
    position: relative;
}


.section__title {
    font-size: 30px;
    font-weight: 700;
    font-style: normal;

    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: center;

    color: #1c1c1c;
}

.button {
    display: inline-block;

    font-size: 18px;
    font-weight: 700;

    line-height: 26px;

    color: #ffffff;

    border-radius: 5px;
}

.button:active {
    color: rgba(255, 255, 255, 0.7);
}

.button--red {
    background-image: -moz-linear-gradient(90deg, rgb(193, 11, 11) 0%, rgb(228, 38, 38) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(193, 11, 11) 0%, rgb(228, 38, 38) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(193, 11, 11) 0%, rgb(228, 38, 38) 100%);
}

.button--red:hover,
.button--red:focus {
    background: #c00f06;
}


.button--blue {
    background-image: -moz-linear-gradient(90deg, rgb(0, 28, 103) 0%, rgb(2, 56, 143) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(0, 28, 103) 0%, rgb(2, 56, 143) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(0, 28, 103) 0%, rgb(2, 56, 143) 100%);
}

.button--blue:hover,
.button--blue:focus {
    background: #0a1e52;
}

.button--green {
    background-image: -moz-linear-gradient(90deg, rgb(0, 142, 0) 0%, rgb(0, 163, 0) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(0, 142, 0) 0%, rgb(0, 163, 0) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(0, 142, 0) 0%, rgb(0, 163, 0) 100%);
}

.button--green:hover,
.button--green:focus {
    background: #0e450e;
}

.button--grey {
    background-image: -moz-linear-gradient(90deg, rgb(255, 46, 0) 0%, rgb(255, 76, 37) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(255, 46, 0) 0%, rgb(255, 76, 37) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(255, 46, 0) 0%, rgb(255, 76, 37) 100%);
}

.button--grey:hover,
.button--grey:focus {
    background: #7a7676;
}

/*HEADER
=====================================*/
.header__inner-top {
    padding: 10px 0;
    border-bottom: 1px solid #f4f4f4;
}

.header-top__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}

.header-top__phone {
    margin-right: auto;
    padding: 4px 0;
    font-size: 14px;
    font-weight: 700;

    line-height: 22px;
    letter-spacing: 0.01em;

    vertical-align: middle;
}

.main-navigation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 588px;
    height: 30px;
}

.main-navigation__link {
    font-size: 14px;
    line-height: 22px;
    color: #1c1c1c;
}

.main-navigation__link:hover,
.main-navigation__link:focus {
    color: #e61010;
    text-decoration: underline;
}

.header__button {
    margin-left: 37px;
    padding: 4px 20px;
    font-size: 12px;
    font-weight: 700;

    line-height: 22px;
}

.header-bottom__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    min-height: 80px;
    padding: 20px 0;
}

.main-logo {
    display: inline-block;
    width: 190px;
    height: 40px;
    margin-right: auto;
}

.main-logo:hover,
.main-logo:focus {
    opacity: 0.76;
}

.header__text {
    font-size: 14px;
}

.header-bottom__phone {
    margin-left: 86px;

    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.01em;
}

.header__app {
    display: flex;
    justify-content: space-between;

    width: 90px;
    margin-left: 30px;
}

.header__app-box {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border: 1px solid #c00f06;
    border-radius: 3px;
}

.header__app-box:hover,
.header__app-box:focus {
    border-color: #090452;
}

.app-icon__android,
.app-icon__apple {
    fill: #c00f06;
}

.app-icon__android:hover,
.app-icon__android:focus,
.app-icon__apple:hover,
.app-icon__apple:focus {
    fill: #090452;
}

.app-icon__android:active,
.app-icon__apple:active {
    fill: #090452;
}

/*INTRO
======================================*/
.intro {
    padding-top: 118px;

    background-color: #7a7b7c;
    background-image: url('../img/intro-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    color: #ffffff;
}

.intro__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 50px;

    font-style: normal;
}

.intro__title b {
    font-size: 40px;
    font-weight: 800;
    line-height: 46px;

    text-transform: uppercase;
}

.intro__subtitle {
    margin-top: 40px;
    padding-bottom: 30px;

    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
}

.intro__subtitle b {
    font-weight: 700;
}

.intro__button {
    margin-top: 30px;
    margin-bottom: 130px;
    padding: 19px 50px 20px 43px;
}


/*SERVICE
======================================*/
.service {
    padding-top: 99px;
    padding-bottom: 100px;
}

.service .section__title {
    margin-bottom: 84px;
}

.service__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    height: 325px;
}

.service__item {
    display: flex;
    justify-content: flex-end;

    width: 300px;

    cursor: pointer;
}

.service__text {
    width: 200px;
    margin-left: 22px;

    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
}

.service__text:hover {
    color: #e61010;
}

/*ABOUT-US
===============================*/
.about-us {
    min-height: 600px;
    padding-top: 98px;

    color: #ffffff;

    background-color: #7a7b7c;

    background-image: url('../img/bg-law.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.about-us .section__title {
    margin-bottom: 80px;
    color: #ffffff;
}

.about-us__text {
    max-width: 860px;
    margin: 0 auto 22px;

    font-size: 16px;

    line-height: 20px;

    text-align: center;
}

.about-us__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 70px;
}

.about-us__item {
    width: 220px;
    text-align: center;
}

.value {
    padding-bottom: 28px;

    font-size: 48px;
    font-weight: 700;

    line-height: 20px;
}

.value span {
    font-size: 24px;

    line-height: 5px;
}

.parameter {
    width: 156px;
    margin: 0 auto;

    font-size: 16px;

    line-height: 22px;
}

/*PROCESS
===============================*/
.process {
    padding-top: 98px;

    background-color: #f5f5f5;
}

.process .section__title {
    padding-bottom: 88px;
}

.process__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-bottom: 97px;
}

.process__item {
    width: 300px;

    font-size: 16px;

    line-height: 22px;

    text-align: center;
}

.process__item b {
    font-weight: 700;
}

.process__img-box {
    width: 100%;
    height: 115px;
    margin-bottom: 36px;

    background-position: center center;
    background-repeat: no-repeat;
}

.process__img-box--step1 {
    background-image: url('../img/free-number.png');
}

.process__img-box--step2 {
    background-image: url('../img/question.png');
}

.process__img-box--step3 {
    background-image: url('../img/answer.png');
}

/*FEATURES
============================*/
.features {
    padding-top: 94px;
    padding-bottom: 100px;
}

.features .section__title {
    padding-bottom: 76px;

    line-height: 35px;
}

.features__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.difference__wrapper {
    display: flex;
    justify-content: space-between;

    padding-top: 2px;
}

.parameter__list {
    width: 180px;
    padding-bottom: 19px;
    padding-right: 29px;
    text-align: right;
}

.company__list {
    width: 210px;
    padding-bottom: 19px;

    text-align: center;
    border: 1px solid #d6e2d8;
}

.company__list:hover {
    color: #ffffff;

    background-color: #26b83a;
    box-shadow: 0 10px 10px 0 rgba(38, 184, 58, 0.2);

    border: transparent;
}

.parameter__item--title,
.company__item--title {
    padding-top: 15px;
    font-size: 14px;
    font-weight: 700;

    line-height: 40px;
}

.parameter__item--title {
    height: 55px;
}

.parameter__item,
.company__item {
    font-size: 13px;

    line-height: 45px;
}

.client {
    width: 300px;
}

.client__list {
    margin-bottom: 18px;
}

.client__title {
    margin-bottom: 20px;

    font-size: 16px;
    font-weight: 700;

    line-height: 1.2;
}

.client__item {
    position: relative;

    padding-left: 45px;

    font-size: 16px;

    line-height: 45px;
}

.client__item span {
    font-weight: 700;
}

.client__item::before {
    position: absolute;
    content: "";

    left: 0;
    top: 10px;

    width: 23px;
    height: 25px;

    background-repeat: no-repeat;
}

.client__item--man::before {
    background-image: url(../img/svg/icon-man.svg);
}

.client__item--woman::before {
    width: 20px;

    background-image: url(../img/svg/icon-woman.svg);
}

.client__item--family::before {
    width: 25px;
    height: 22px;

    background-image: url(../img/svg/icon-family.svg);
}

.client__item--businessman::before {
    top: 8px;

    background-image: url(../img/svg/icon-businessman.svg);
}

.client__button {
    width: 100%;
    padding: 19px 0 20px;

    text-align: center;
}

/*APP
======================================*/
.app {
    height: 470px;
    padding-top: 95px;

    font-family: Muller, sans-serif;

    color: #ffffff;

    background-image: url("../img/bg-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.app .section__title {
    font-size: 30px;

    line-height: 36px;
    letter-spacing: 0.05em;

    text-align: left;
    color: #ffffff;
}

.app__list {
    width: 570px;
    padding-top: 72px;
    margin-left: 16px;
}

.app__item {
    padding-left: 15px;
    padding-bottom: 20px;

    font-size: 18px;
    line-height: 22px;
}

.app__item a {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.app__item a:hover {
    color: #7a7b7c;
}

.app__link {
    position: absolute;
    right: 58px;
    top: 40px;

    cursor: pointer;
}

.app__link--apple {
    top: 140px;
}

/*REVIEWS
=========================================*/
.reviews {
    padding-top: 96px;
    padding-bottom: 95px;

    font-family: Muller, sans-serif;

    letter-spacing: 0.05em;

    color: #313131;
    background-color: #f5f5f5;
}

.reviews .section__title {
    padding-bottom: 70px;
    font-weight: 700;

    line-height: 36px;

    letter-spacing: 0.05em;
}

.reviews-nav {
    width: 675px;
    margin: 0 auto;
    padding-bottom: 71px;
}

.reviews-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews-nav__item {
    padding: 8px 13px 5px;

    font-size: 14px;
    font-weight: 500;

    line-height: 16px;
    letter-spacing: 0.05em;

    text-transform: uppercase;

    border: 2px solid transparent;

    border-radius: 5px;

    cursor: pointer;
}

.reviews-nav__item--active {
    color: #e42626;
    border-color: #e42626;
}

.reviews-nav__item:hover {
    color: #e42626;
}

.reviews-slider__arrow-left,
.reviews-slider__arrow-right {
    position: absolute;

    top: 98px;

    cursor: pointer;

    fill: #d0d0d0;
}

.reviews-slider__arrow-left {
    left: -90px;
}

.reviews-slider__arrow-right {
    right: -90px;
}

.reviews-slider__arrow-left:hover,
.reviews-slider__arrow-right:hover {
    fill: #e61010;
}

.reviews-slider__list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reviews-slider__item {
    position: relative;
    width: 300px;
}

.reviews-slider__item::before {
    position: absolute;

    content: "";

    left: 20px;
    top: 165px;

    width: 25px;
    height: 25px;

    background: url("../img/svg/icon-play.svg") no-repeat;

    cursor: pointer;

    z-index: 3;
}

.reviews-slider__item:hover:before {
    opacity: 0.5;
}

.reviews-slider__title {
    padding-top: 15px;
    font-size: 13px;

    line-height: 1.2;

    letter-spacing: 0;
}

.reviews-slider__title:hover {
    color: #e42626;
    text-decoration: underline;

    cursor: pointer;
}

/*PARTNERS
==========================*/
.partners {
    padding-top: 96px;
    padding-bottom: 76px;

    background-color: #fff;
}

.partners .section__title {
    padding-bottom: 65px;
    font-family: Muller, sans-serif;
    font-size: 30px;
    font-weight: 700;

    line-height: 36px;
    letter-spacing: 0.05em;
}

.partners__list {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 10px;
    padding-bottom: 20px;
}

.partners__item {
    position: relative;
    width: 220px;
}

.partners__description {
    position: absolute;

    top: -10px;
    left: 0;

    display: none;

    padding: 20px 16px 15px;

    font-family: Muller, sans-serif;
    font-size: 12px;

    line-height: 15px;

    letter-spacing: 0.05em;

    text-align: center;

    color: #ffffff;

    background-color: #26b83a;

    box-shadow: 0 10px 10px 0 rgba(38, 184, 58, 0.2);
}

.partners__item:hover .partners__description {
    display: block;
    cursor: pointer;
}

.partners__arrow-left,
.partners__arrow-right {
    position: absolute;

    top: 77px;

    cursor: pointer;

    fill: #d0d0d0;
}

.partners__arrow-left {
    left: -90px;
}

.partners__arrow-right {
    right: -90px;
}

.partners__arrow-left:hover,
.partners__arrow-right:hover {
    fill: #e61010;
}

/*TARIFFS
===================================*/
.tariffs {
    padding-top: 96px;
    padding-bottom: 165px;
    font-family: Muller, sans-serif;

    background-color: #f5f5f5;
}

.tariffs .section__title {
    padding-bottom: 30px;

    font-family: Muller, sans-serif;
    font-size: 30px;
    font-weight: 700;

    line-height: 36px;
    letter-spacing: 0.05em;

    text-align: left;

    color: #313131;
}

.tariffs .section__subtitle {
    width: 640px;
    padding-bottom: 46px;

    font-size: 18px;
    font-weight: 700;

    line-height: 25px;
    letter-spacing: 0;

    color: #313131;
}

.tariff__text {
    padding-bottom: 38px;

    font-size: 16px;
    font-weight: 300;

    line-height: 1.2;
    letter-spacing: 0;
}

.tariffs__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 30px;
}

.tariffs__item {
    width: 310px;
    padding-top: 45px;
    padding-bottom: 32px;

    border: 1px solid #e8e8e8;
    background-color: #ffffff;
}

.tariffs__item img {
    display: block;
    margin: 0 auto 30px;
}

.tariffs__item--big {
    width: 320px;
}

.tariffs__item-title {
    padding-bottom: 26px;
    font-size: 20px;
    font-weight: 300;

    line-height: 24px;
    letter-spacing: 0;

    text-align: center;
}

.tariffs__item-title b {
    font-weight: 700;
}

.tariff__list {
    width: 280px;
    height: 350px;
    margin: 0 auto;
    padding: 0 12px;
}

.tariff__item {
    display: flex;
    justify-content: space-between;
    font-size: 11px;

    line-height: 39px;
    border-top: 1px solid #f5f5f5;
}

.tariff__item:last-child {
    border-bottom: 1px solid #f5f5f5;;
}

.tariff__value {
    font-weight: 700;
}

.tariff__item--big {
    height: 54px;
    align-items: center;
    font-size: 13px;
    line-height: 1.2;
}

.price {
    margin-top: 20px;
    margin-bottom: 28px;

    text-align: center;
}

.price__text {
    font-size: 13px;
    font-weight: 300;

    line-height: 40px;
}

.price__value {
    font-size: 24px;
    font-weight: 700;

    line-height: 30px;
}

.button__wrapper {
    width: 200px;
    margin: 0 auto;
}

.tariff__button {
    width: 100%;
    margin-bottom: 15px;
    padding: 8px 0 8px;

    font-family: Muller, sans-serif;
    font-size: 18px;

    line-height: 40px;

    text-align: center;
}

/*CONTACTS
====================================*/
.contacts {
    /*background: linear-gradient(to right, #f5f5f5 40%, #ffffff 100%);*/
    background: linear-gradient(to right, #f5f5f5 0%, #f5f5f5 46%, #f5f5f5 46%, #f5f5f5 46%, #ffffff 46%, #ffffff 100%, #ffffff 100%);
}

.contacts__inner {
    display: flex;
    justify-content: space-between;

    padding-top: 70px;
    padding-bottom: 66px;

    font-family: Muller, sans-serif;
    letter-spacing: 0;
}

.form__contacts {
    width: 320px;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

legend {
    padding: 0 0 20px;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
}

.label {
    display: inline-block;
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: 300;

    line-height: 22px;
}

.input {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;

    border: 1px solid #dddddd;
    border-radius: 5px;
}

.textarea {
    width: 100%;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 27px;
    padding: 10px;

    border: 1px solid #dddddd;
    border-radius: 5px;
}

.form__button {
    width: 100%;
    padding: 12px 0 11px;

    line-height: 40px;

    text-align: center;
}

.form__text {
    padding-top: 12px;
    font-size: 13px;

    line-height: 22px;

    text-align: center;
}

.contact__wrapper {
    width: 380px;
    padding-top: 22px;
}

.contact__title {
    margin-bottom: 62px;
    font-size: 30px;
    font-weight: 700;

    line-height: 40px;
}

.contact__item {
    margin-bottom: 16px;
}

.contact_text {
    padding-bottom: 10px;
    font-size: 13px;
    line-height: 22px;
}

.contact__value {
    font-size: 17px;

    line-height: 22px;
}

.contact__value--phone {
    font-weight: 700;
}

.contact__value--email {
    font-weight: 400;

    color: #1c1c1c;

    text-decoration: underline;
}

.contact__value--email:hover {
    color: #e61010;
}

.contact__value--time {
    padding-bottom: 20px;
}


/*FOOTER
=================================*/
.footer {
    padding: 48px 0;

    background-color: #000000;
}

.footer-logo {
    cursor: pointer;
}

.footer-logo:hover,
.footer-logo:focus {
    opacity: 0.7;
}